<div class="card-wrapper">

    <mat-card class="item-card-left">
      <mat-card-header>
        <img
          src="{{details.prod.avatarUrl}}"
          mat-card-avatar />
        <mat-card-title>Google Pay</mat-card-title>
        <mat-card-subtitle>
          Payment Services
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>        
        <div class="geek-left">
          <img class="csimg" src="{{details.prod.imageUrl}}">
        </div>   
        <dl>
          <dd style="float:left;border:1px solid #ccc;margin:4px;" *ngFor="let img of details.productImages">   
          <img src="{{img}}" mat-card-avatar />
          </dd>       
        </dl>
        <div style="clear:both"></div>
      </mat-card-content>      
      <mat-card-actions style="text-align:center">                   
        <button class="bgreen" (click)="share()" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>share</mat-icon></button>
        <button *ngIf="!auth.user().IsAdmin" class="bgreen" (click)="openDialog('Comment')" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>comment</mat-icon></button>      
        <button class="bgreen" (click)="openDialog('Update')" *ngIf="auth.user().IsLoggedIn && auth.user().IsAdmin" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>edit</mat-icon></button>
        <button *ngIf="!auth.user().IsAdmin" [ngClass]="prod.isWatch?'bred':'bgreen'" (click)="watch()" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>add_to_queue</mat-icon></button>
        <button class="bgreen" (click)="back()" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>arrow_back</mat-icon>Back</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="item-card-right">
      <mat-card-header>    
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>        
        <div class="geek-right">
          <h3 class="fgreen">How to create {{details.createHeader}} account?</h3>
          <p>{{details.createBody}}</p> 
          <h3 class="fgreen">How to use Google Pay account?</h3>
          <p>{{details.useBody}}</p>  
          <h3 class="fgreen">Where is my Google Pay referral code or link?</h3>
          <p>{{details.refBody}}</p>   
          <h3 class="fgreen">How to earn money using Google Pay?</h3>
          <p>{{details.earnBody}}</p> 
        </div>         
        <dl>
          <caption class="fgreen" style="white-space: nowrap;font-weight: 500;">Other Related:</caption>
          <dd style="float:left;border:1px solid #ccc;margin:4px;" *ngFor="let relate of details.prodRelated">   
          <img src="{{relate.avatarUrl}}" mat-card-avatar />
        </dd>       
      </dl>
        <div style="clear:both"></div>
      </mat-card-content>  
      <mat-card-actions>
        <button class="bgreen" (click)="back()" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>arrow_back</mat-icon>Back</button>
        <button class="bgreen" routerLink="/" mat-raised-button color="basic" mat-button>&nbsp;<mat-icon>home</mat-icon>Home</button>
      </mat-card-actions>
    </mat-card>
  </div>