table {
    border-collapse: collapse;  
    display: block;
    min-width: 400px;
    max-width: 1200px;
    white-space: nowrap;
    overflow: scroll; /* Scrollbar are always visible */
overflow: auto;   /* Scrollbar is displayed as it's needed */
  }
  
th, td {
    text-align: center;
    padding: 4px;
  }
  
tr:nth-child(even) {background-color: #f2f2f2;}

  button {
    padding: 8px 10px;
    margin: 4px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
  }

  button.edit
  {
    background-color: #4565a0;
    color: #f2f2f2;
  }
  button.delete
  {
    background-color: #eb3131;
    color: #f2f2f2;
  }

  .clear { clear:both; }
  .floatedDiv{float: left;}
  
  .headerDiv h2{
    text-align: center;
  }

.floatedDiv {   
    border-radius: 5px; 
    padding: 20px;
  }
  .headerDiv
  {
    width: 100%;
  }