<div class="container">
    <div class="headerDiv">
        <h2>CC Manager</h2>  
    </div>

    <div class="floatedDiv" *ngIf="showRecords">
        <table>
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">Card</th>
                <th style="text-align: center;">ROI(%)</th>
                <th style="text-align: center;">Number</th>     
                <th style="text-align: center;">BillDay</th>     
                <th style="text-align: center;">DueDay</th>     
                <th style="text-align: center;">BillCycle</th>     
                <th style="text-align: center;">Month</th>     
                <th style="text-align: center;">BillAmount</th>     
                <th style="text-align: center;">MaxCCLimit</th>     
                <th style="text-align: center;">Status</th>              
                <th style="text-align: center;">PayMethod</th>              
                <th style="text-align: center;">Charges</th>              
                <th style="text-align: center;">BillPayCB(Rs)</th>                 
                <th style="text-align: center;">Rewards(Rs)</th>     
                <th style="text-align: center;">Rewards(Pts)</th>          
                <th style="text-align: center;">MaxRewards(Pts)</th>              
                <th style="text-align: center;">IsActive</th>              
                <th style="text-align: center;"></th>
            </tr>
        <tr *ngFor="let r of ccmsList; let i=index;">        
        <td>{{i+1}}</td>
        <td>{{r.creditCardName}}</td>
        <td>{{r.roi | number : '1.2-2'}}</td>
        <td>{{r.cardNumberEnd}}</td>
        <td>{{r.billDateOfMonth}}</td>
        <td>{{r.dueDateOfMonth}}</td>
        <td>{{r.billingCycleFrom}}-{{r.billingCycleTo}}</td>
        <td>{{r.billMonth}}</td>
        <td>{{r.billAmount}}</td>
        <td>{{r.maxCreditLimit}}</td>
        <td>{{r.billStatus}}</td>
        <td>{{r.paymentMethod}}</td>
        <td>{{r.chargesPaid}}</td>
        <td>{{r.ccBillPayCashback}}</td> 
        <td>{{r.ccRewardsValueRs}}</td>
        <td>{{r.ccRewardsPoints}}</td>        
        <td>{{r.maxRewardPoints}}</td> 
        <td style="text-align: center;">{{r.isActive?'Active':'Not Active'}}</td>       
        <td><button class="edit" (click)="Edit(r)">Edit</button><button class="delete" (click)="Remove(r)">Delete</button></td>
        </tr>
        </table>
    </div>
    <div class="floatedDiv" *ngIf="showRecordEditor">
        <app-ccms-editor (resetCcms)="Reset()" (addCcms)="Save($event)"></app-ccms-editor>
    </div>
    <div class="clear"></div>
  </div>
