<div class="container">
    <div class="headerDiv">
        <h2>CC Manager</h2>  
    </div>

    <div class="floatedDiv">
        <table>
            <tr>
                <th style="text-align: center;">Card</th>
                <th style="text-align: center;">Number</th>     
                <th style="text-align: center;">Bill Day</th>     
                <th style="text-align: center;">Due Day</th>     
                <th style="text-align: center;">Bill Cycle</th>     
                <th style="text-align: center;">Month</th>     
                <th style="text-align: center;">Amount</th>     
                <th style="text-align: center;">Status</th>              
                <th style="text-align: center;">PayMethod</th>              
                <th style="text-align: center;">Charges</th>              
                <th style="text-align: center;">BillPayCashback</th>              
                <th style="text-align: center;">OtherRewards</th>              
                <th style="text-align: center;">IsActive</th>              
                <th style="text-align: center;"></th>
            </tr>
        <tr *ngFor="let r of ccmsList">        
        <td>{{r.creditCardName}}</td>
        <td>{{r.cardNumberEnd}}</td>
        <td>{{r.billDateOfMonth}}</td>
        <td>{{r.dueDateOfMonth}}</td>
        <td>{{r.billingCycleFrom}}-{{r.billingCycleTo}}</td>
        <td>{{r.billMonth}}</td>
        <td>{{r.billAmount}}</td>
        <td>{{r.billStatus}}</td>
        <td>{{r.paymentMethod}}</td>
        <td>{{r.chargesPaid}}</td>
        <td>{{r.ccBillPayCashback}}</td>
        <td>{{r.ccRewardsValueRs}}</td>
        <td>{{r.isActive}}</td>       
        <td style="text-align: center;">{{r.isActive?'Active':'Not Active'}}</td>       
        <td><button class="edit" (click)="Edit(r)">Edit</button><button class="delete" (click)="Remove(r)">Delete</button></td>
        </tr>
        </table>
    </div>
    <div class="floatedDiv">
        <app-ccms-editor (addCcms)="Save($event)"></app-ccms-editor>
    </div>
    <div class="clear"></div>
  </div>
