table {
    width: 100%;
  }
.mat-column-rowAction
  {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;   
  }
  .mat-column-rowAction .edit
  {
    color: #08ac0a;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .mat-raised-button {
    padding: 0 3px 0 3px;
    margin: 3px 4px 3px 4px;
    min-width: 80px;
    border-radius: 1px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    cursor: pointer;
 }

 span {
  text-align: center;
  display: inline-block;
  width: 100%;
  word-break: break-all;
}

 .toolbar{
  word-break: break-word;
  background: #006eff;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;   
  height: 64px;
  font:500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
  
.action-link a:hover{
  opacity: 0.5;
}

.mat-raised-button
{
  background: #08ac0a;
}