<div style="display:block;margin:10px;"> 
<h3>AI Settings</h3>
<p *ngIf="isValidFormSubmitted" class="success">
	Saved changes successfully.
</p>
</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <input style="display: none;" type="number" formControlName="settingsId">

	<table>	
		<tr>
			<td>Auto Enabled</td>
			<td>
				<input type="checkbox" formControlName="isEnabled">
			</td>
		</tr>		
    <tr>
			<td>Limit Trans:</td>
			<td>
				<input formControlName="limitPerDay" type="number">
			</td>
		</tr>		
    <tr>
			<td>Limit Amount:</td>
			<td>
				<input formControlName="investAmt" type="number">
			</td>
		</tr>	
    <tr>
			<td>Min Amount:</td>
			<td>
				<input formControlName="minInvestAmt" type="number">
			</td>
		</tr>	
    <tr>
			<td>TPIN:</td>
			<td>
				<input formControlName="tPin" type="text">
			</td>
		</tr>
		<tr>
			<td>CIBIL POOR:</td>
			<td>
				<input formControlName="cibilPoor" type="text">
			</td>
		</tr>	
		<tr>
			<td>CIBIL AVERAGE:</td>
			<td>
				<input formControlName="cibilAverage" type="text">
			</td>
		</tr>	
		<tr>
			<td>CIBIL GOOD:</td>
			<td>
				<input formControlName="cibilGood" type="text">
			</td>
		</tr>		
		<tr>
			<td>CIBIL Excellent:</td>
			<td>
				<input formControlName="cibilExcellent" type="text">
			</td>
		</tr>
		<tr>
			<td>SMTP From User:</td>
			<td>
				<input formControlName="smtpFromUser" type="text">
			</td>
		</tr>
		<tr>
			<td>SMTP From Email:</td>
			<td>
				<input formControlName="smtpFromEmailAddress" type="text">
			</td>
		</tr>
		<tr>
			<td>SMTP Host:</td>
			<td>
				<input formControlName="smtpHost" type="text">
			</td>
		</tr>
		<tr>
			<td>SMTP Port:</td>
			<td>
				<input formControlName="smtpPort" type="text">
			</td>
		</tr>
		<tr>
			<td>SMTP UserName:</td>
			<td>
				<input formControlName="smtpUserName" type="text">
			</td>
		</tr>	
		<tr>
			<td>SMTP Password:</td>
			<td>
				<input formControlName="smtpPassword" type="text">
			</td>
		</tr>	
		<tr>
			<td>Created On:</td>
			<td>
				<input readonly formControlName="createdOn" type="text">
			</td>
		</tr>	
    <tr>
			<td>Modified On:</td>
			<td>
				<input readonly formControlName="modifiedDate" type="text">
			</td>
		</tr>	
		<tr>
			<td colspan="2">
				<button>Save</button>				
				<button type="button" (click)="patchUserValues()">Set Default</button>
				<button type="button" (click)="restoreUserValues()">Cancel</button>
			</td>
		</tr>
	</table>
</form> 

<div style="display:block;margin:10px;"> 
<h3><span class="page-header">Active Borrowers</span></h3>
<button type="button" (click)="LoadBorrowers()">Refresh</button>
</div>
  <section class="container">
<table id="watchlist">
  <tr>      
    <th style="width:25px;">Loan</th>
    <th style="width:25px;">Risk</th>
    <th style="width:25px;">Cibil</th>
    <th style="width:25px;">Int%.</th>
    <th style="width:30px;">Tenure</th>
    <th style="width:10px;">Elig.</th>   
    <th style="width:95px;">Invest</th>   
    <th style="width:20px;"></th>
  </tr>
  <tr *ngFor="let w of borrowers;let i=index;">  
   <td>{{w.loadId}}</td>
   <td>{{w.riskCategory}}</td>
   <td>{{w.creditBureauScore}}</td>
   <td>{{w.interestCurrentRate}}</td>   
   <td>{{w.tenure}} {{w.tenureType=='d'?'D':'M'}}</td>   
   <td [ngClass]="w.isInvestEligible?'profit':'loss'">{{w.isInvestEligible?'Yes':'No'}}</td>
   <td>{{w.autoInvestStatus}}</td>
   <td style="text-align:center"><mat-icon svgIcon="delete" (click)="DeleteWatchListItem(w)"></mat-icon></td>
  </tr>
</table>
</section>
