<div style="display:block;margin:10px;"> 
<h3>AI Settings</h3>
<p *ngIf="isValidFormSubmitted" class="success">
	Saved changes successfully.
</p>
</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <input style="display: none;" type="number" formControlName="settingsId">

	<table>	
		<tr>
			<td>Auto Enabled</td>
			<td>
				<input type="checkbox" formControlName="isEnabled">
			</td>
		</tr>		
    <tr>
			<td>Balance Trans:</td>
			<td>
				<input formControlName="limitPerDay" type="number">
			</td>
		</tr>	
		<tr>
			<td>TPIN:</td>
			<td>
				<input formControlName="tPin" type="text">
			</td>
		</tr>	
    <tr style="background: green;color: white;">
			<td>Invest Amount Default:</td>
			<td>
				<input formControlName="investAmt" type="number">
			</td>
		</tr>	
    <tr style="background: green;color: white;">
			<td>Invest Amount Minimum:</td>
			<td>
				<input formControlName="minInvestAmt" type="number">
			</td>
		</tr>	

		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - A:</td>
			<td>
				<input formControlName="investAmtA" type="number">
			</td>
		</tr>	
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - X:</td>
			<td>
				<input formControlName="investAmtX" type="number">
			</td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - B:</td>
			<td>
				<input formControlName="investAmtB" type="number">
			</td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - C:</td>
			<td>
				<input formControlName="investAmtC" type="number">
			</td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - D:</td>
			<td>
				<input formControlName="investAmtD" type="number">
			</td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - E:</td>
			<td>
				<input formControlName="investAmtE" type="number">
			</td>
		</tr>

		<tr  style="background: red;color: white;font-weight: 500;">
			<td>CIBIL POOR:</td>
			<td>
				<input formControlName="cibilPoor" type="text">
			</td>
		</tr>	
		<tr style="background: orange;color: white;font-weight: 500;">
			<td>CIBIL AVERAGE:</td>
			<td>
				<input formControlName="cibilAverage" type="text">
			</td>
		</tr>	
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>CIBIL GOOD:</td>
			<td>
				<input formControlName="cibilGood" type="text">
			</td>
		</tr>		
		<tr style="background:green;color: white;font-weight: 500;">
			<td>CIBIL Excellent:</td>
			<td>
				<input formControlName="cibilExcellent" type="text">
			</td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP From User:</td>
			<td>
				<input formControlName="smtpFromUser" type="text">
			</td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP From Email:</td>
			<td>
				<input formControlName="smtpFromEmailAddress" type="text">
			</td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP Host:</td>
			<td>
				<input formControlName="smtpHost" type="text">
			</td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP Port:</td>
			<td>
				<input formControlName="smtpPort" type="text">
			</td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP UserName:</td>
			<td>
				<input formControlName="smtpUserName" type="text">
			</td>
		</tr>	
		<tr style="background: blue;color:white">
			<td>SMTP Password:</td>
			<td>
				<input formControlName="smtpPassword" type="text">
			</td>
		</tr>	
		<tr style="background: yellow;">
			<td>Created On:</td>
			<td>
				<input readonly formControlName="createdOn" type="text">
			</td>
		</tr>	
    <tr style="background: yellow;">
			<td>Modified On:</td>
			<td>
				<input readonly formControlName="modifiedDate" type="text">
			</td>
		</tr>	
		<tr>
			<td colspan="2">
				<button>Save</button>				
				<button type="button" (click)="patchUserValues()">Set Default</button>
				<button type="button" (click)="restoreUserValues()">Cancel</button>
				<button type="button" (click)="LoadSettings()">Refresh</button>
			</td>
		</tr>
	</table>
</form> 

<div style="display:block;margin:10px;"> 
<h3><span class="page-header">Active Borrowers</span></h3>
<button type="button" (click)="LoadBorrowers()">Refresh</button>
</div>
  <section class="container">
<table id="watchlist">
  <tr>      
    <th style="width:25px;">Loan</th>
    <th style="width:25px;">Risk</th>
    <th style="width:25px;">Age</th>
    <th style="width:25px;">Cibil</th>
    <th style="width:25px;">Int%.</th>
    <th style="width:30px;">Tenure</th>
    <th style="width:10px;">Elig.</th>   
    <th style="width:95px;">Invest</th>   
    <th style="width:20px;"></th>
  </tr>
  <tr *ngFor="let w of borrowers;let i=index;">  
   <td>{{w.loadId}}</td>
   <td>{{w.riskCategory}}</td>
   <td>{{w.borrowerAge}}</td>
   <td>{{w.creditBureauScore}}</td>
   <td>{{w.interestCurrentRate}}</td>   
   <td>{{w.tenure}} {{w.tenureType=='d'?'D':'M'}}</td>   
   <td [ngClass]="w.isInvestEligible?'profit':'loss'">{{w.isInvestEligible?'Yes':'No'}}</td>
   <td>{{w.autoInvestStatus}}</td>
   <td style="text-align:center"><mat-icon svgIcon="delete" (click)="DeleteWatchListItem(w)"></mat-icon></td>
  </tr>
</table>
</section>
