table {
  border-collapse: collapse;
  margin-left: 10px;
}
table, th, td {
  border: 1px solid black;
}
.error {
  color: red;
}
.success {
  color: green;
} 

button{
  margin: 5px;
}

table#watchlist{
  width:100%;font-weight: 500;
  background: #feffff;
}
#watchlist tr{
  text-align: center;
  color: #297983;
  font-weight: 500;
}
  #watchlist .mat-icon{
    color: #db2c2c;cursor: pointer;vertical-align: middle;
  }
  #watchlist .mat-icon:hover
  {
    color: #f14343;
  }

  .profit
  {
    color: #070!important;
  }

  .loss
  {
    color: #c00!important;   
  }

  button {
    background-color: #e7e7e7; 
    color: black;
    border: none;   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /* The container */
.chkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin:15px 5px 15px 15px;
}

.chkcontainer .lable-text
{
  margin: 5px 0;
  display: block;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  }

/* Hide the browser's default checkbox */
.chkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border: 2px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;    
}

/* On mouse-over, add a grey background color */
.chkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.i2iLoss 
{
  background-color: #f44336;color:#ffffff;
}

.i2iProfit {
  background-color: #04AA6D;
  color:#ffffff;
}

