
<h2>&nbsp;&nbsp;&nbsp;Update LC Status: <br>
	&nbsp;&nbsp;&nbsp;<small style="padding: 5px;margin: 5px;" class="i2iProfit">{{lcUpdateStatus}}</small></h2>

<br>
<div style="float:left;">&nbsp;&nbsp;&nbsp;
<button type="button" style="background-color: #baae00;color: #fff;" (click)="showHideLC()">Show/Hide</button>	
<button type="button" style="background-color: #00ba19;color: #fff;" (click)="UpdateDataLendenLMS()">Update</button>	
<button type="button" style="background-color: #ba006c;color: #fff;" (click)="LoadLendenLoans()">Refresh</button>	
</div>
<div style="clear:both;"></div>
<label class="chkcontainer"><span class="lable-text">Success({{successCnt}})</span>
	<input type="checkbox" name="lcSuccess" [(ngModel)]="lcSuccess" type="checkbox" (change)="ApplyLCFilter()">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">Fail({{failCnt}})</span>
	<input type="checkbox" name="lcFail" [(ngModel)]="lcFail" type="checkbox" (change)="ApplyLCFilter()">
	<span class="checkmark"></span>
  </label>
<div style="clear:both;"></div> 
<span>&nbsp;&nbsp;&nbsp;<b>Invested</b>-({{lcInvested| number : '1.2-2'}})</span>&nbsp;|&nbsp;<span><b>Received</b>-({{lcReceived| number : '1.2-2'}})</span>&nbsp;|&nbsp;<span><b>Pending</b>-({{lcPending| number : '1.2-2'}})</span>   
<br><br>
<table *ngIf="hiddenLC">
	<tr>
		<th>Status</th>
		<th>ID</th>
		<th>Invstd</th>
		<th>Recvd</th>
		<th>ROI</th>
		<th>Tenure</th>
		<th>Closed</th>
		<th>SchemeID</th>
		<th>LoanID</th>
	    <th>OpenDate</th>
	    <th>MatureDate</th>
		<th>Message</th>
		<th>Date</th>
		
	</tr>
	<tr *ngFor="let l of lendenLoansFiltered">
		<td  style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;" [ngClass]="l.isSuccess?'i2iProfit':'i2iLoss'">{{l.isSuccess?'Success':'Fail'}}</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.lendenLoanId}}</td>
		<td style="text-align: right;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.total_investment}}</td>
		<td style="text-align: right;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.amount_received}}</td>	
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.net_roi}}%</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.tenure}}-{{l.tenure_type=='MONTHS'?'M':''}}</td>												
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.is_closed?'Yes':'No'}}</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.scheme_id}}</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.loan_id}}</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.open_date | date:'short'}}</td>
		<td style="text-align: center;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.maturity_date| date:'short'}}</td>
		<td style="text-align: left;padding:0 5px 0 5px;margin:0 5px 0 5px;">{{l.errorMessage}}</td>
		<td>{{l.modifiedDate}}</td>
		<!-- <td>{{l.auto_renew}}</td> -->
								
																				
													<!-- <td>{{l.investment_type}}</td>
													<td>{{l.investment_name}}</td>
													<td>{{l.portfolio_health?'Yes':'No'}}</td>
													<td><a [href]="l.file_url">doc</a></td>
													<td>{{l.mandate_status}}</td>
													<td>{{l.source}}</td>													
													<td>{{l.expected_amount}}</td>
													<td>{{l.invested_amount}}</td>
													<td>{{l.loan_type}}</td>
													<td>{{l.borrower_name}}</td>											
													<td>{{l.createdDate}}</td>
													<td>{{l.modifiedDate}}</td> -->
		
	</tr>
</table>

<hr style="padding: 5px;
font-size: 12px;
font-weight: 500;
background: #607d8b;
color: #1b1b1b;
text-align: center;
border-bottom: 1px solid #d3d3d3;
margin-bottom: 4px;
"/>

<h2>AI Settings: <br>
	<small style="padding: 5px;margin: 5px;" class="i2iProfit">I2I-Member, I2I-Group and LC-Member</small></h2>
<br>
<button type="button" style="background-color: #baae00;color: #fff;" (click)="showHideSettings()">Show/Hide</button>	
<button type="button" style="background-color: #00ba19;color: #fff;" (click)="GetI2IAccStatement()">Update</button>	
<button  style="background-color: #ba006c;color: #fff;" type="button" (click)="LoadSettings()">Refresh</button>

<form *ngIf="hiddenSettings" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
<button type="submit" style="background-color: #008CBA;color:#ffffff" (click)="userForm">Save</button>  
<div>
	<input style="display: none;" type="number" formControlName="settingsId"><span *ngIf="isValidFormSubmitted" class="success">Saved changed successfully.</span>
</div>
	<table>	
		<tr>
			<td>I2i Investment Limit</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="investmentLimit">
			</td>
			<td></td>
		</tr>	
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2i Principal Holding (A)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IPrincipalBalance">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2I Escro Balance (B)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="escroBalance">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2I Fund Under Proposal (C)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IAmtProposal">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2I Fund Under Disburse (D)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IAmtDisburse">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2I Total Account Value (A+B+C+D)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2ICurrentAccValue">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background-color: #008CBA;color:#ffffff">
			<td>I2i My Investment (Fund Cr.-Fund Deb.)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IMyInvestmentBalance">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
	
		<tr [ngClass]="i2IProfitLoss?'i2iProfit':'i2iLoss'">
			<td>I2i Profit (or) Loss (Acc value - My Investment)</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IProfitOrLoss">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr [ngClass]="isI2IDiffAmount?'i2iProfit':'i2iLoss'">
			<td>I2i Diff Amount</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="i2IDiffAmount">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr>
			<td>I2I Withdraw</td>
			<td>
				<input type="text" formControlName="i2IWithdrawAmt">
				<br>
				<button style="background-color: #04AA6D;color:#ffffff" (click)="RequestI2IWithdrawAmt(userForm.controls['i2IWithdrawAmt'].value)">Withdraw</button>
			</td>
			<td>
				<table>
					<tr>
						<th>ID</th>
							<th>Type</th>
								<th>Month</th>
									<th>Year</th>
										<th>Amount</th>
											<th>Status</th>
												<th>Message</th>
													<th>Manual</th>
														<th>Created</th>
															<th>Modified</th>
					</tr>
					<tr *ngFor="let w of withdras">
						<td>{{w.withdrawalsId}}</td>
							<td>{{w.wType}}</td>
								<td>{{w.month}}</td>
									<td>{{w.year}}</td>
										<td>{{w.amount}}</td>
											<td>{{w.status?'Success':'Fail'}}</td>
												<td>{{w.message}}</td>
													<td>{{w.manual?'Scheduled':'No'}}</td>
														<td>{{w.createdDate|date:'short'}}</td>
															<td>{{w.modifiedDate|date:'short'}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC Escro Balance</td>
			<td>
				<input style="background: #eee;" readonly type="text" formControlName="lendenEscroBalance">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>		
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC Alerts Enabled</td>
			<td>
				<input type="checkbox" formControlName="enableLCAlerts">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC High Credit (Above 750) Only Enabled</td>
			<td>
				<input type="checkbox" formControlName="lcHighCreditOnly">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC Short Tenure (Below 2M) Only Enabled</td>
			<td>
				<input type="checkbox" formControlName="lcShortPeriodOnly">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC PortfolioValue</td>
			<td>
				<input type="text" style="background: #eee;" readonly formControlName="lcPortfolioValue">
			</td>
			<td style="background-color: #ffffff;color:#000000">	
			
			</td>
		</tr>
		
		
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC NetReturns</td>
			<td>
				<input type="text" style="background: #eee;" readonly formControlName="lcNetReturns">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC ROI</td>
			<td>
				<input type="text" style="background: #eee;" readonly formControlName="lcroi">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC TotalInvested</td>
			<td>
				<input type="text" style="background: #eee;" readonly formControlName="lcTotalInvested">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background:#008cba;color: #f6fafc;">
			<td>LC WithdrawAmt</td>
			<td>
				<input type="text" formControlName="lcWithdrawAmt">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr>
			<td>Balance Threshold</td>
			<td>
				<input type="text" formControlName="balanceThreshold">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr>
			<td>I2I GROUP Service Enabled</td>
			<td>
				<input type="checkbox" formControlName="groupLoanI2IFundingEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
			
		<tr>
			<td>I2I Member Service Enabled</td>
			<td>
				<input type="checkbox" formControlName="memberLoanI2IFundingEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		
		<tr>
			<td>LC Member Service Enabled</td>
			<td>
				<input type="checkbox" formControlName="memberLoanLendenClubEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		
		<tr>
			<td>I2I Withdraw Service Enabled</td>
			<td>
				<input type="checkbox" formControlName="withdrawaI2IFundingEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>		

		<tr>
			<td>LC Withdraw Service Enabled</td>
			<td>
				<input type="checkbox" formControlName="withdrawaLendenClubEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr>
			<td>Group Amount Limit Per Borrower</td>
			<td>
				<input type="text" formControlName="amountPerBorrowerGroup">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr>
			<td>GROUP Cibil Good</td>
			<td>
				<input type="text" formControlName="gCibilGood">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr>
			<td>Auto INDIV Enabled</td>
			<td>
				<input type="checkbox" formControlName="isEnabled">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
    <tr>
			<td>Limit Investment's:</td>
			<td>
				<input formControlName="limitPerDay" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr>
			<td>TPIN:</td>
			<td>
				<input formControlName="tPin" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
    <tr style="background: green;color: white;">
			<td>Invest Amount Default:</td>
			<td>
				<input formControlName="investAmt" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
    <tr style="background: green;color: white;">
			<td>Invest Amount Minimum:</td>
			<td>
				<input formControlName="minInvestAmt" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	

		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - A:</td>
			<td>
				<input formControlName="investAmtA" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - X:</td>
			<td>
				<input formControlName="investAmtX" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - B:</td>
			<td>
				<input formControlName="investAmtB" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - C:</td>
			<td>
				<input formControlName="investAmtC" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - D:</td>
			<td>
				<input formControlName="investAmtD" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>Invest Amount - E:</td>
			<td>
				<input formControlName="investAmtE" type="number">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>

		<tr  style="background: red;color: white;font-weight: 500;">
			<td>CIBIL POOR:</td>
			<td>
				<input formControlName="cibilPoor" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: orange;color: white;font-weight: 500;">
			<td>CIBIL AVERAGE:</td>
			<td>
				<input formControlName="cibilAverage" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>CIBIL GOOD:</td>
			<td>
				<input formControlName="cibilGood" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: #31cd31;color: white;font-weight: 500;">
			<td>CIBIL BEST:</td>
			<td>
				<input formControlName="cibilBest" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
	
		<tr style="background:green;color: white;font-weight: 500;">
			<td>CIBIL Excellent:</td>
			<td>
				<input formControlName="cibilExcellent" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP From User:</td>
			<td>
				<input formControlName="smtpFromUser" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP From Email:</td>
			<td>
				<input formControlName="smtpFromEmailAddress" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP Host:</td>
			<td>
				<input formControlName="smtpHost" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP Port:</td>
			<td>
				<input formControlName="smtpPort" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>
		<tr style="background: blue;color:white">
			<td>SMTP UserName:</td>
			<td>
				<input formControlName="smtpUserName" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: blue;color:white">
			<td>SMTP Password:</td>
			<td>
				<input formControlName="smtpPassword" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
		<tr style="background: yellow;">
			<td>Created On:</td>
			<td>
				<input style="background: #eee;" readonly formControlName="createdOn" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
    <tr style="background: yellow;">
			<td>Modified On:</td>
			<td>
				<input style="background: #eee;" readonly formControlName="modifiedDate" type="text">
			</td>
			<td style="background-color: #ffffff;color:#000000"></td>
		</tr>	
	
	</table>
</form> 

<hr style="padding: 5px;
font-size: 12px;
font-weight: 500;
background: #607d8b;
color: #1b1b1b;
text-align: center;
border-bottom: 1px solid #d3d3d3;
margin-bottom: 4px;
"/>
<div style="display:block;margin:10px;"> 
	<h2>Todays Active Borrowers: <br><small style="padding: 5px;margin: 5px;" class="i2iProfit">I2I-Member, I2I-Group and LC-Member</small></h2>
	<br>
<button   style="background-color: #ba006c;color: #fff;"  type="button" (click)="LoadBorrowers()">Refresh</button>
<br><br>
<label class="chkcontainer"><span class="lable-text">Elig.</span>
	<input type="checkbox" name="eligibleOnly" [(ngModel)]="isEligibleOnly" type="checkbox" (change)="ApplyFilter('Elig')">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">I2I</span>
	<input type="checkbox" name="i2iOnly" [(ngModel)]="isI2iOnly" type="checkbox" (change)="ApplyFilter('I2I')">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">LC</span>
	<input type="checkbox" name="lcOnly" [(ngModel)]="isLCOnly" type="checkbox" (change)="ApplyFilter('LC')">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">Funded</span>
	<input type="checkbox" name="fundedOnly" [(ngModel)]="isFundedOnly" type="checkbox" (change)="ApplyFilter('FUNDED')">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">Not Funded</span>
	<input type="checkbox" name="notFundedOnly" [(ngModel)]="isNotFundedOnly" type="checkbox" (change)="ApplyFilter('NOTFUNDED')">
	<span class="checkmark"></span>
  </label>
  <label class="chkcontainer"><span class="lable-text">Count:&nbsp;<span style="color:#872bff">{{selectedCount}}</span></span>	
  </label>
</div>
  <section class="container">
<table id="watchlist">
  <tr>   
	<th style="width:20px;"></th>
	<th style="width:50px;">Date</th>
	<th style="width:25px;">Loan No.</th>
    <th style="width:25px;">Loan Amt</th>
	<th style="width:25px;">Cibil</th>
    <th style="width:25px;">Int%.</th>
    <th style="width:30px;">Tenure</th>
    <th style="width:10px;">Elig.</th>   
    <th style="width:50px;">Invest Amt</th>
	<th style="width:95px;">Status</th>    
   
    <th style="width:25px;">Risk</th> 
	
  </tr>
  <tr *ngFor="let w of borrowers;let i=index;"> 
	<td style="text-align:center"><button type="button" style="background: green;
		color: white;
		width: 50px;
		margin: 0;
		padding: 5px;
	" (click)="ForceInvest(w)">Force</button></td>
   <td>{{w.createdDate|date:'short'}}</td>
   <td>{{w.loan}}</td>
   <td>{{w.loanAmt}}</td>
   <td>{{w.cibil}}</td>
   <td>{{w.interest}}</td>   
   <td>{{w.tenure}} {{w.tenureType=='d'?'D':'M'}}</td>   
   <td [ngClass]="w.isEligible?'profit':'loss'">{{w.isEligible?'Yes':'No'}}</td>
   <td>{{w.investAmt}}</td>
   <td style="text-align: left;" [ngClass]="w.status==2?'profit':''">{{w.statusMsg}}</td>

   <td>{{w.risk}}</td> 
  </tr>
</table>
</section>
