
 
div.ref-row:nth-child(even) {background-color: #f2f2f2;border-bottom: 1px solid #888;}
div.ref-row{border-bottom: 1px solid #888;}

h3{color: #ffffff;font-weight: 500;}

h3 small{color:#00bcd3;font-weight: 500;}

  button {
    padding: 8px 10px;
    margin: 4px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
  }

  button.read
  {
    background-color: #08b1c7;
    color: #f2f2f2;
  }
  button.share
  {
    background-color: #38f84d;
    color: #f2f2f2;
  }
  button.save
  {
    background-color: #b6b6b6;
    color: #f2f2f2;
  }
  button.save:hover
  {
    background-color:#ef6183;
    color: #f2f2f2;
  }
.headerDiv h2{
  text-align: center;
  margin: 10px;
}
.content {display: block;}

.floatedDiv {   
 float: left; 
 width: 100%;
 margin-left: 10px;
 margin-bottom: 10px;
}

.floatedDiv .poster{ 
    float:inline-start;
    width: 350px;
    margin: auto;
    display: block;
}

.content
{
    float:left;
}

.headerDiv
{
  width: 100%;
}

.main-div {
    float: left;
    padding: 15px; 
  }
  
  .div1 {    
    width:350px;
  }
  
  .div2 {  
    min-width: 350px;  
    width:calc(95% - 350px);
    float: left;
  }

  .reflink
  {    
    overflow:hidden;
    text-wrap:nowrap;
    display:block;
    border:3px solid #08b1c7;
    font-size:16px;
    background: #fff;
  }

  div.div2 h3.ref-title
  {
    padding: 0px 0px 27px 10px;
    margin-bottom: 10px;
    display: block;
    background: #3f51b5;
  }
  div.div2 h3.mat-icon
  {
    margin: 1px 5px;
  }
  .reflink a
  {
    text-wrap:nowrap;text-overflow: ellipsis;width:50px;display:inline-block;
  }
  .reflink-lable
  {
    display: block;
    color: white;
    background: #08b1c7;
    padding: 2px;
    width: 65px;
    float: left;
  }
  .refcode
  {
    text-wrap:nowrap;text-overflow: ellipsis;width:50px;display:inline-block;
  }
  .descrip
  {
    text-align: justify; 
    display: inline-block; 
  }