<div class="container">
    <div class="headerDiv">
        <h2>Join by Referrals</h2>  
    </div> 

<div class="ref-row" *ngFor="let r of refmanList">
<div class="main-div poster">
    <img class="poster-img" [src]="r.posterUrl"/> 
</div>
<div class="main-div content">
    <h3 class="ref-title-container"><span class="ref-title-text">{{r.title}} - <small>{{r.subTitle}}</small></span><span class="favorite"><mat-icon svgIcon="{{r.isFavorite?'favorite':'un-favorite'}}" class="example-tab-icon"></mat-icon></span></h3>            
    <p class="reflink"><span class="reflink-lable">Ref Link:</span>&nbsp;<a href="{{r.referralLink}}" target="_blank">{{r.referralLink}}</a></p>
 
    <p class="reflink"><span class="reflink-lable">Ref Code:</span>&nbsp;<span class="refcode">{{r.referralCode | uppercase}}</span></p>
    <p class="descrip">{{r.description}}</p> 
    <p><button class="read" (click)="ShareRef(r)">Read more..</button><button class="save" (click)="SaveRef(r)">Add to Favorite</button><button class="share" (click)="ShareRef(r)">Share</button></p>  
   
</div>
<div style="clear:left;"></div>

</div>

</div>  