table {
    margin: 10px;
    width: 350px;   
    border-left: 1px solid #ddd;
    font-size: 13px;    
  }
td,th{
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
    border-spacing: 0;
    display: table-cell;
}
th{background: #00bcd4;
    color: #fff; text-align: center;;}

    .pass{background: green;color: white;}
    .fail{background: red;color: white;}
    .warn{background:orange;color:white;}

    .light-fail{background: #f8bbbb;}
    .light-warn{background:#f9c86e;}
    .total{font-weight: 500;}