<div>
<ng-container *ngIf="true; then displayData;">
</ng-container>
<table>
    <tr>
        <th>AnonymousID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Visited</th>
        <th>TotalVisits</th>
        <th>IPAddress</th>
        <th>CreatedDate</th>
        <th>ModifiedDate</th>      
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.AnonymousID}}</td>
        <td>{{user.UserName}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Visited}}</td>
        <td>{{user.TotalVisits}}</td>
        <td>{{user.IPAddress}}</td>
        <td>{{user.CreatedDate | utcToLocalTime:'short'}}</td>
        <td>{{user.ModifiedDate | utcToLocalTime:'short'}}</td>  
    </tr>
</table>
</div>
<ng-template #displayData>  
    <table>
        <caption style="font-weight:500;color:black"><b style="color: blue;cursor: pointer;">File:</b> {{fileName}}</caption>
    <tr>
        <th>#</th>
        <th>Group</th>
        <th>Source</th>
        <th>Local</th>
        <th>Cached</th>
        <th>Post</th>
        <th>Sync</th>
    </tr>
    <tr *ngFor="let g of list" ngClass="{{g.Status==true?'':g.Status==null?'light-warn':'light-fail'}}">
        <td style="text-align: center;">{{g.Id}}</td>
        <td style="text-align: left;">{{g.Group}}</td>
        <td style="text-align: center;">{{g.Source}}</td>
        <td style="text-align: center;">{{g.Processed}}</td>
        <td style="text-align: center;">{{g.Cached}}</td>
        <td style="text-align: center;">{{g.Post}}</td>
        <td style="text-align: center;border-inline: 5px;" ngClass="{{g.Status==true?'pass':g.Status==null?'warn':'fail'}}">{{g.Status==true?'Pass':g.Status==null?'Warn':'Fail'}}</td>
    </tr>
    </table>
    
    <table *ngIf="isLoaded" class="total">
        <tr><td>Source Total:</td><td style="text-align: center;">{{sourceTotal}}</td></tr>
        <tr><td>Local Total:</td><td style="text-align: center;">{{processedTotal}}</td></tr>
        <tr><td>Cached Total:</td><td style="text-align: center;">{{cachedTotal}}</td></tr>
        <tr><td>Overall Status:</td><td style="text-align: center;" ngClass="{{overallStatus==true?'pass':overallStatus==null?'warn':'fail'}}">{{overallStatus==true?'Pass':overallStatus==null?'Warn':'Fail'}}</td></tr>
        <tr><td style="text-align:center;float:left">
            <button style="background-color: #00d435;color:#fff;margin-right:5px;" mat-button (click)="refresh()">Refresh Data</button>
            <button style="background-color: #00a2d4;color:#fff" mat-button (click)="postMessages()">Send Post</button>
        </td><td ></td></tr>
    </table>
</ng-template>


<ng-container *ngIf="error; then displayError;">
</ng-container>
<ng-template #displayError>
    <table>
        <tr>
            <td>            
<!-- <div style="clear:both;text-align: center;display:block;background:#e2e2fa;color: whiet;font-weight:500;"><button style="background-color: #00bcd4;color:#fff" mat-button (click)="refresh()">Resolve Errors/Warnings</button></div> -->
        </td>
    </tr>    
    </table>
</ng-template>