<form novalidate #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input
        type="hidden"
        name="itemId"
        [value] = "service.itemData.itemId"
    >
    <div class="form-group">
        <label>Title Text</label>
        <input
            class="form-control form-control-lg"
            placeholder="Title Text"
            name="TitleText"
            #TitleText="ngModel"
            [(ngModel)]="service.itemData.TitleText"
            required
            maxlength="50"
            [class.invalid]="TitleText.invalid && TitleText.touched"
        >
        <div *ngIf="TitleText.touched">
            <p *ngIf="TitleText.errors?.['required']">Item name is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label>ITEM DESCRIPTION</label>
        <input
            class="form-control form-control-lg"
            placeholder="Item Description"
            name="itemDescription"
            #itemDescription="ngModel"
            [(ngModel)]="service.itemData.ItemDescription"
            required
            maxlength="150"
            [class.invalid]="itemDescription.invalid && itemDescription.touched"
        >
        <div *ngIf="itemDescription.touched">
            <p *ngIf="itemDescription.errors?.['required']">Item description is required!</p>
        </div>
    </div>
    <div class="form-group">
        <label>Sub Title</label>
        <input
            class="form-control form-control-lg"
            type="text"
            name="SubTitle"
            #SubTitle="ngModel"
            [(ngModel)]="service.itemData.SubTitle"
            [ngModelOptions]="{standalone: true}"
            required
        >
    </div>
    
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>