.item-card {
    max-width: 400px;
    float: left;
    margin: 5px;
    border: 1px solid #ccc;  
  }
  .mat-card-header .mat-card-title {    
    color: #111111;
}
  .item-header-image {    
    background-size: cover;
  }
  .mat-card-image
  {
    margin: 0;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  span>small
  {
    font-weight:200;
    font-size: 14px;    
  }

  span {
    text-align: center;
    display: inline-block;
    width: 100%;    
  }

  .geeks {
    width: 100%;
    height: 200px;   
   }
   .geeks a {cursor:pointer;}

img {
    width:100%;
    height:100%;
    object-fit:scale-down;
}

.overflow-ellipsis
{
  text-overflow: ellipsis;
}
p {
  display: -webkit-box;
  width: relative;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 80px; 
  padding: 4px;  
}

.mat-toolbar-row, .mat-toolbar-single-row 
{
padding:0;
}
/* .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button,mat-toolbar .mat-raised-button 
{
  background-color:#1c971d;
  color:#ffffff;
} */

h2 {
  width: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;;
  margin: 0;
  color:#111111;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button,h3,mat-toolbar .mat-raised-button  {  
  padding:1px;
  margin:0 2px 0 2px; 
  font-size: 12px;
  font-weight: normal;
}

.box
{ 
  display: flex;
  box-sizing: border-box;   
  width: 100%;
  flex-direction: row;
  align-items: center;   
  height: 64px;  
  letter-spacing: normal;
}

mat-toolbar{
  margin: 5px;
  height: 45px;
  font-size: 14px;
}
mat-toolbar span{
  background:#ffff;
  margin: 10px;
}

button.viewall
{
  width: 100%;
    color: #ffffff;
    background: #1c971d;
}

.fgreen{color:#1c971d;}

.bgreen{background:#1c971d !important;color:#ffffff !important;}

.bred{color: #ffffff !important;background: #ff9800;}

