
table
{  
    width: 300px;
    float: left;
    height: 330px;
    margin: 5px;
    border-spacing: 0;
    border-left: 1px solid#00bcd4;
    font-size: 12px;
}


td,th{
    border-right: 1px solid#00bcd4;  
    border-bottom: 1px solid#00bcd4;
    border-spacing: 0;
}



table>caption{
    background:#00bcd4;
    color: #fff;
    font-size: 16px;
    padding: 2px;
}
table td,th {
    text-align: left;   
}


table td:first-child {
    text-align: right;   
    background-color: aliceblue;
    color: black;
}

th, td {
    padding: 2px;
    text-align: left;   
  }

  .mat-dialog-title{
    margin: -15px 5px 0px !important;
    display: block;
    color: #00bcd4;
    font-weight: 500 !important;
  }

  table.basic-info td{text-align: center;}

  table.price-movement td{text-align: right;}
  table.price-movement td:first-child{text-align: left;}

  table.financial td{text-align: right;}
  table.financial td:first-child{text-align: left;}

  table.margindelivery td{text-align: right;}
  table.margindelivery td:first-child{text-align: left;}
  
  table.news{width:97%;clear:both;height: auto;}
  table.news th{text-align: center;color: #601da1;background-color: lightgreen;}
  table.news td:first-child{text-align: center;}

  .loss{color:red}
  .profit{color:green}