<h3 mat-dialog-title>FUNDAMENTALS</h3>
<mat-dialog-content>
    <table class="basic-info">
        <caption>Company Basic Info</caption>
        <tr>
            <td>Company:</td>
            <td>{{company}}</td>
        </tr>
        <tr>
            <td>Notices:</td>
            <td style="color:red">
                {{notice}}                
            </td>  
        </tr>
        <tr>
            <td>Category:</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>Group:</td>
            <td>{{group}}</td>
        </tr>
        <tr>
            <td>Industry:</td>
            <td>{{industry}}</td>
        </tr>
        <tr>
            <td>Code / ID:</td>
            <td>{{code}} <b style="color:#00bcd4;">&#47;</b> {{id}}</td>
        </tr>
            <tr> <td>Settlement:</td>
            <td>{{settlementType}}</td> </tr>
            <tr><td>Intra-day:</td><td>{{intraday}}</td></tr>
            <tr><td>BTST:</td><td>{{btst}}</td></tr>
            <tr><td>MIS:</td><td>{{mis}}</td></tr>            
            <tr><td>Margin %:</td><td>{{margin}}</td></tr>            
            <tr><td>Leverage:</td><td>{{leverage}}</td></tr>            
            <tr><td>Trade Date:</td><td>{{trdeDate}}</td></tr>      
    </table>
    <table class="price-movement">
        <caption>Price Movement</caption>
        <tr>

            <td>Price:</td>
            <td>{{ltp}}</td>
        </tr>
        <tr>
            <td>High:</td>
            <td>{{high}}</td>
        </tr>
        <tr>
            <td>Low:</td>
            <td>{{low}}</td>
        </tr>
        <!-- <tr>
            <td>Avg:</td>
            <td>{{local_data.PriceDetails.Avg}}</td>
        </tr> -->
        <tr>
            <td>Previous:</td>
            <td>{{previous}}</td>
        </tr>
        <tr>
            <td>52 Weeks High:</td>
            <td>{{fifty2WksHigh}}</td>
        </tr>
        <tr>
            <td>52 Weeks Low :</td>
            <td>{{fifty2WksLow}}</td>
        </tr>
        <tr>
            <td>Upper Circuit:</td>
            <td>{{upperCktPrice}}</td>
        </tr>
        <tr>
            <td>Lower Circuit:</td>
            <td>{{lowerCktPrice}}</td>
        </tr>
        <tr>
            <td>Upper Circuit(%):</td>
            <td>{{upperCktPercent}}</td>
        </tr>
        <tr>
            <td>Lower Circit(%):</td>
            <td>{{lowerCktPercent}}</td>
        </tr>
        <tr>
            <td>Open:</td>
            <td>{{open}}</td>
        </tr>
        <tr>
            <td>Price Change:</td>
            <td>{{priceChange}}</td>
        </tr>
        <tr>
            <td>Price Change(%):</td>
            <td>{{pricePercentChange}}</td>
        </tr>
    </table>
    <table class="financial">
        <caption>Financials</caption>
        <tr>
            <td>Market Cap(Cr.):</td>
            <td>{{mcap}}</td>
        </tr>
        <tr>
            <td>Face Value:</td>
            <td>{{facevalue}}</td>
        </tr>
        <tr>
            <td>EPS:</td>
            <td>{{eps}}</td>
        </tr>
        <tr>
            <td>CEPS:</td>
            <td>{{ceps}}</td>
        </tr>
        <tr>
            <td>PE:</td>
            <td>{{pe}}</td>
        </tr>
        <tr>
            <td>PB:</td>
            <td>{{pb}}</td>
        </tr>
        <tr>
            <td>ROE:</td>
            <td>{{roe}}</td>
        </tr>
        <tr>
            <td>Financial Year:</td>
            <td>{{fy}}</td>
        </tr>
        <tr>
            <td>Revenue</td>
            <td>{{revenue}}</td>
        </tr>
        <tr>
            <td>Net Profit:</td>
            <td [ngClass]="netProfitStyle">{{profit}}</td>
        </tr>
    </table>
    <table class="margindelivery">
        <caption>Margin & Delivery</caption>
        <tr>
            <td>AMR:</td>
            <td>{{amr}}</td>
        </tr>
        <tr>
            <td>ELR:</td>
            <td>{{elr}}</td>
        </tr>
        <tr>
            <td>IV:</td>
            <td>{{indexvar}}</td>
        </tr>
        <tr>
            <td>VARM:</td>
            <td>{{varMargin}}</td>
        </tr>
        <tr>
            <td>SV:</td>
            <td>{{securityVar}}</td>
        </tr>
        <tr>
            <td>Trade Date:</td>
            <td>{{tradeDate}}</td>
        </tr>
        <tr>
            <td>Traded Qty:</td>
            <td>{{qtyTraded}}</td>
        </tr>
        <tr>
            <td>Deliverable Qty:</td>
            <td>{{deliverableQty}}</td>
        </tr>
        <tr>
            <td>Deliverable(%):</td>
            <td>{{deliverablePercnt}}</td>
        </tr> 
    </table>

  
    <table class="news">
        <caption>News</caption>        
        <tr *ngFor="let n of news">
            <td>{{n.NDt}}</td>
            <td>{{n.Des}}</td>
        </tr>
    </table>
</mat-dialog-content>
<!-- <mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-raised-button color="warn">Close</button>
</mat-dialog-actions> -->