<div class="container">
  <mat-toolbar class="toolbar">
    <span>Top Shopping Deals</span>
  </mat-toolbar>
    <div class="row">
      <div class="col-md-3 mx-auto my-5" *ngFor="let card of cards">
        <mat-card class="item-card">
          <mat-card-header>
            <div mat-card-avatar class="item-header-image" style="background-image: url('{{card.AvatarUrl}}');"></div>
            <mat-card-title class="overflow-ellipsis">{{card.TitleText}}</mat-card-title>
            <mat-card-subtitle class="overflow-ellipsis">{{card.SubTitle}}</mat-card-subtitle>
          </mat-card-header>
          <div class = "geeks">
            <img mat-card-image src='{{card.ItemImageUrl}}' alt='{{card.TitleText}}'>
        </div>
         
          <mat-card-content>
            <h2 class="overflow-ellipsis">{{card.ItemHeadLine}}</h2>
            <p class="overflow-ellipsis">{{card.ItemDescription}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Use</button>      
            <button mat-button>Share</button>
            <button mat-button>Comment</button>
          </mat-card-actions>
        </mat-card>
</div></div></div>
