<div class="container">
<table>
    <caption>Statement Summary</caption>
    <thead>
        <tr>
            <th>
                Deposit
            </th>
            <th>
                Withdraw
            </th>
            <th>
                Pending 
            </th>
            <th>
                Lending
            </th>
            <th>
                Repayment
            </th>
            <th>
                Pending 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{deposit | currency : 'INR'}}
            </td>
            <td>
                {{withdraw | currency : 'INR'}}
            </td>
            <td class="cell-highlight">
                {{pendingFund | currency : 'INR'}}
            </td>
            <td>
                {{lending | currency : 'INR'}}
            </td>
            <td>
                {{repayment | currency : 'INR'}}
            </td>
            <td class="cell-highlight">
                {{pendingRepayment | currency : 'INR'}}
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="TransactionDetails('Deposit')">Details</button>
            </td>
            <td>
                <button (click)="TransactionDetails('Withdraw')">Details</button>
            </td>
            <td>
              
            </td>
            <td>
                <button (click)="TransactionDetails('Lending')">Details</button>
            </td>
            <td>
                <button (click)="TransactionDetails('Repayment')">Details</button>
            </td>
            <td>
              
            </td>
        </tr>      
    </tbody>
</table>
<br>
<table>
<thead>
    <tr>
        <th>ALL</th>
        <th>LOSS</th>       
        <th>PROFIT</th>     
        <th>CLOSED</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{allCount}}</td>
        <td class="cell-highlight-red">{{lossAmount | currency : 'INR'}} - ({{lossCount}})</td>
        <td class="cell-highlight-green">{{profitAmount | currency : 'INR'}} - ({{profitCount}})</td>
        <td>{{closedCount}}</td>        
    </tr>
    <tr>
        <td>
            <button style="display: block;margin: 0 auto;float:left;padding:4px;margin-right:5px;"
                (click)="TransactionDetails('Report')">Details</button>
        </td>
        <td> <button style="display: block;margin: 0 auto;float:left;padding:4px;margin-right:5px;"
                (click)="TransactionDetails('Loss')">Details</button>
        </td>
        <td> <button style="display: block;margin: 0 auto;float:left;padding:4px;margin-right:5px;"
                (click)="TransactionDetails('Profit')">Details</button>
        </td>
        <td> <button style="display: block;margin: 0 auto;float:left;padding:4px;margin-right:5px;"
                (click)="TransactionDetails('Closed')">Details</button>
        </td>
    </tr>
</tbody>
</table>
<br>
<table>
    <caption>{{transactionType}} Details</caption>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Transaction ID
            </th>
            <th>
                Scheme ID
            </th>
            <th>
                Credit 
            </th>   
            <th>
                Debit 
            </th>         
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of details">
            <td>
                {{t.date | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                {{t.transactionID}}
            </td>
            <td>
                {{t.schemeID}}
            </td>
            <td>
                {{t.credit| currency : 'INR'}}
            </td>
            <td>
                {{t.debit| currency : 'INR'}}
            </td>          
        </tr>       
    </tbody>
</table>
<br>
<table>  
    <thead>
        <tr>
            <th>SchemeID </th>
            <th>Invested </th>
            <th>Repaid </th>
            <th>Repaid(%) </th>
            <th>PnL </th>
            <th>Cibil </th>
            <th>LSCore </th>
            <th>Loan Type </th>
            <th>Loan Amount </th>
            <th>ROI </th>
            <th>Tenure </th>          
            <th>OpenDate </th>
            <th>CloseDate </th>
            <th>Closed </th>
            <th>Loss </th>
            <th>Profit </th>  
            <th>EmpType </th>
            <th>Income </th>
            <th>Age </th>
            <th>Sex </th>
            <th>City </th>
       
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reportDetails">
             <td>{{r.schemeID}}</td>
             <td>{{r.invested | currency : 'INR'}}</td>
             <td>{{r.repaid | currency : 'INR'}}</td>
             <td>{{r.rPercnt | number:'.2'}}%</td>
             <td [ngClass]="r.profit?'cell-highlight-green':r.loss?'cell-highlight-red':''">{{r.pnL | currency : 'INR'}}</td>
             <td>{{r.cibil}}</td>
             <td>{{r.lc}}</td>
             <td>{{r.loanType}}</td>
             <td>{{r.loanAmount | currency : 'INR'}}</td>
             <td>{{r.roi}}</td>
             <td>{{r.tenure}}-{{r.tenureType=='MONTHS' || r.tenureType=='MONTHLY'?'M':'' }}</td>           
             <td>{{r.openDate | date: 'dd/MM/yyyy'}}</td>
             <td>{{r.closeDate | date: 'dd/MM/yyyy'}}</td>
             <td [ngClass]="r.closed?'cell-highlight':''">{{r.closed?'Yes':''}}</td>
             <td [ngClass]="r.loss?'cell-highlight':''">{{r.loss?'Yes':''}}</td>
             <td [ngClass]="r.profit?'cell-highlight':''">{{r.profit?'Yes':''}}</td>  
             <td>{{r.empType}}</td>
             <td>{{r.income | currency : 'INR'}}</td>
             <td>{{r.age}}</td>
             <td>{{r.sex}}</td>
             <td>{{r.city}}</td>
                               
        </tr>       
    </tbody>
</table>
</div>