.atozq-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .atozq-is-mobile .atozq-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .example-container { 
    margin-bottom: 1px;
  }
  h1.atozq-app-name {
    margin-left: 8px;
    cursor: pointer;
  }
  
  .atozq-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .atozq-is-mobile .atozq-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .spacer {
    flex: 1 1 auto;
}
.menuitems
{
  color: #08ac0a;
  margin-right:8px;
  text-decoration:none;
  font-size: 14px;  
  cursor: pointer;
}
.sidemenu
{
  color: #08ac0a
  /* line-height: 5px; */
}
.menuitems:hover
{
  text-decoration:underline;
}
.menutext{
  position: relative;
  top: -5px;
}

.spinner
{
  top: 40%;  
  left: 40%;
  right:40%;  
  bottom:40%;
  position: fixed;
  background-color:#eceaea;
  background-size: 50px;
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  display: flex; 
} 
.mat-toolbar-row, .mat-toolbar-single-row 
{
padding:0;
}
a {
  display: inline-flex;
  line-height:0;
}

.copyright
{
  color: #08ac0a;
  line-height: 65px; 
}

.copyright a:link,.copyright a:visited,.copyright a:hover,.copyright a:active {
  color: #08ac0a;
  background-color: transparent;
  text-decoration: underline;
}

.wrapper {
  position: relative;
}
.inner { 
  padding: 12px;
  position: absolute;
  inset: 0;
  margin: auto;
}

.mat-toolbar.mat-primary 
{
  background:#ffffff;
  color: #4caf50;
}

.atozq-app-name
{
  text-decoration: none;
  color: #444;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

mat-sidenav-content
{
background-image: url(/assets/bg.jpg);
background-repeat: repeat-x;
animation: slideleft 20000s infinite linear;
-webkit-animation: slideleft 20000s infinite linear;
background-size: cover;
-webkit-background-size:cover;
-moz-background-size:cover; 
background-attachment: fixed;
position: relative;
min-height: 100vh;
}
.home-toolbar
{
  padding: 12px;
  font-size: 16px;
  background:#08ac0a;
  color: #fff;
  text-align: center;
}
.mat-drawer-container
{
  overflow:visible;
}

