<div class="atozq-container" [class.atozq-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="atozq-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <a class="atozq-app-name" routerLink="/home">
        <img src="/assets/atozq.svg" width="150" height="50" title="Home" alt="Home" class="ng-star-inserted">      </a>
      <span class="spacer"></span>
      
      <a class="menuitems" mat-list-item routerLink="/home">      
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon><span class="menutext">Home</span>      
       </a> 
       <a class="menuitems" mat-list-item routerLink="/login" *ngIf="!isUserAuthenticated()">      
        <mat-icon aria-hidden="false" aria-label="Login" fontIcon="account_circle"></mat-icon><span class="menutext">Login</span>      
       </a>    
       <a class="menuitems" mat-list-item (click)="logOut()" *ngIf="isUserAuthenticated()">      
        <mat-icon aria-hidden="false" aria-label="Logout" fontIcon="remove_from_queue"></mat-icon><span class="menutext">Logout</span>      
       </a> 
     
       <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">  
        <button mat-menu-item routerLink="/dashboard"  *ngIf="isUserAuthenticated()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </button>
        <button mat-menu-item routerLink="/referral">
          <mat-icon>group_add</mat-icon>
          <span>Referrals</span>
        </button>
        <button mat-menu-item routerLink="/shopping">
          <mat-icon>shopping_basket</mat-icon>
          <span>Shopping</span>
        </button>
        <button mat-menu-item routerLink="/login" *ngIf="!isUserAuthenticated()">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/register" *ngIf="!isUserAuthenticated()">
          <mat-icon>how_to_reg</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item (click)="logOut()" *ngIf="isUserAuthenticated()">
          <mat-icon>remove_from_queue</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
          
    </mat-toolbar>
    <div class="wrapper">
      <div class="inner">
        <mat-progress-spinner [diameter]="100" *ngIf="spinnerService.visibility | async" class="spinner" [color]="color" [mode]="mode"></mat-progress-spinner>
      </div>
    </div>

  <mat-sidenav-container class="atozq-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                 
      <mat-nav-list>
       <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngIf="isUserAuthenticated()">
            <a mat-list-item  class="sidemenu" mat-list-item routerLink="/dashboard">      
              <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="dashboard"></mat-icon><span>Dashboard</span>      
             </a>            
          </mat-list-option>
          <mat-list-option>
            <a mat-list-item  class="sidemenu" mat-list-item routerLink="/referral">      
              <mat-icon aria-hidden="false" aria-label="Referral" fontIcon="group_add"></mat-icon><span>Referrals</span>      
             </a>            
          </mat-list-option>
          <mat-list-option>
            <a mat-list-item  class="sidemenu" mat-list-item routerLink="/shopping">      
              <mat-icon aria-hidden="false" aria-label="Shopping" fontIcon="shopping_basket"></mat-icon><span>Shopping</span>      
             </a>            
          </mat-list-option>
          <mat-list-option *ngIf="!isUserAuthenticated()">
            <a mat-list-item  class="sidemenu" mat-list-item routerLink="/login">      
              <mat-icon aria-hidden="false" aria-label="Login" fontIcon="account_circle"></mat-icon><span>Login</span>      
             </a>            
          </mat-list-option>
          <mat-list-option *ngIf="!isUserAuthenticated()">
            <a mat-list-item  class="sidemenu" mat-list-item routerLink="/register">      
              <mat-icon aria-hidden="false" aria-label="Register" fontIcon="how_to_reg"></mat-icon><span>Register</span>      
             </a>            
          </mat-list-option>
          <mat-list-option *ngIf="isUserAuthenticated()">
            <a mat-list-item  class="sidemenu" mat-list-item (click)="logOut()">      
              <mat-icon aria-hidden="false" aria-label="Logout" fontIcon="remove_from_queue"></mat-icon><span>Logout</span>      
             </a>            
          </mat-list-option>         
        </mat-selection-list>     
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>  
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  		<!-- copyright -->
      <div class="copyright">
        <p>© 2022 ATOZQ.com . All rights reserved | Design by <a href="https://atozq.com/" target="_blank">ATOZQ.com</a></p>
      </div>
      <!-- //copyright --> 
</div>



