.atozq-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .atozq-is-mobile .atozq-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    /* border-bottom: 4px solid #d3d3d3; */
  }
  .example-container { 
    margin-bottom: 1px;
  }
  h1.atozq-app-name {
    margin-left: 8px;
    cursor: pointer;
  }
  
  .atozq-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .atozq-is-mobile .atozq-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .spacer {
    flex: 1 1 auto;
}
.menuitems
{
  color:#d3d3d3;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.sidemenu
{
  color: #d3d3d3;
  /* line-height: 5px; */
}
.menuitems:hover
{
  text-decoration:underline;
}
.menutext{
  position: relative;
  top: -5px;
  color:#212121;
}

.spinner
{
  background-color:transparent;
  background-size: 50px;
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40);
} 
.mat-toolbar-row, .mat-toolbar-single-row 
{
padding:0;
}
a {
  display: inline-flex;
  line-height:0;
}

.copyright p
{
  background: #f9f9fb;
  color: #1b1b1b;
  font-size: 1rem;
  padding:5px;
  font-size:12px;
}

.copyright a:link,.copyright a:visited,.copyright a:hover,.copyright a:active {
  color: #d3d3d3;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
}

.center {
  display: flex; 
  justify-content: center; 
  align-items: center;
}


/* +++++++ STYLES +++++++ */
.wrapper {
  height: calc(100vh - 20px);
}
.inner { 
  padding: 12px;
}

.mat-toolbar.mat-primary 
{
  background:#ffffff;
  color: #d3d3d3;
}

.atozq-app-name
{
  text-decoration: none;
  color:#0069c2;
  font-size: 32px;
  border-radius: 2px;
  font-family: sans-serif;
  font-weight: 700;
  padding: 4px;
  cursor: pointer;
  display: block;
  margin: 15px 5px 15px 5px;
}

mat-sidenav-content
{
/* background-image: url(/assets/bg.jpg); */
/* background-repeat: repeat-x; */
animation: slideleft 20000s infinite linear;
-webkit-animation: slideleft 20000s infinite linear;
background-size: cover;
-webkit-background-size:cover;
-moz-background-size:cover; 
background-attachment: fixed;
position: relative;
min-height: 100vh;
}

.mat-drawer-container
{
  overflow:visible;
}

.profile{
  background:#d3d3d3;
  color:#fff;
}
.profile mat-icon{
  color:#fff;
}

.bred{color: #ffffff !important;
  background: #ff9800;}

  .home-toolbar
{
  padding: 2px; 
  background:#218b99;
  color: #fff;
  text-align: center;
  font-size: 13px;
}
.home-toolbar2
{
  padding: 5px;
  font-size: 1rem;
  background: #f9f9fb;
  color: #1b1b1b;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 4px;

}
.home-toolbar3
{
  padding: 2px;
  background: #f9feff;
  color: #fff;
  text-align: left;
  font-size: 13px;
  display: table;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}
.example-button-row .mat-raised-button
{
  padding: 0 5px;
 margin: 0 2px;
}

.datetime{
text-align: center;
}
.dot {
  height: 11px;
  width: 11px;
  margin-right: 1px; 
  border-radius: 50%; 
  display: inline-block;
}
.users{ background:#ffff00}
.online{ background: #18e92f;}
.visited{ background: #4e4e4e;}
.date{     background: #e91e63;}
.box{
  color: #872bff;
  padding-left: 4px;
  margin-right: 5px;
  padding-right: 4px;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
}
.verify
{
  color: #31ff00;
  /* margin-top: 10px; */
  float: right;
  cursor: pointer;
  display: block;
  font-weight: 500; 
}

.verify .mat-icon
{
  vertical-align: middle;
    font-size: 19px;
}

.menuitems .mat-icon{
  margin: 0 2px 0 2px;
}

.license a{
  color: #297983;
  font-weight: 500;
}

:host ::ng-deep.mat-button-toggle-group { 
  height: 30px;
}
/* :host ::ng-deep.mat-button-toggle {
  margin-top: 0px !important;
  width: 100px;
  height: 34px;
} */
:host ::ng-deep.mat-button-toggle:hover {
  /* color: red; */
  background-color: #f7f9fd
}
:host ::ng-deep.mat-button-toggle-checked {
  background-color:#f7f9fd
} 

:host::ng-deep .mat-button-toggle-label-content { 
  line-height: 26px !important; 
}

:host ::ng-deep.toggle-button-menutext{
  position: relative;
  top: 3px;
  margin-left: 3px;
}

:host ::ng-deep.mat-button-toggle-button
{
  margin:1px;
}

:host::ng-deep .mat-paginator {
  height: 50px;
  background: #f6f6f6;
}

:host::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0px 5px;
}

:host::ng-deep .hrStyle{
  margin: 0.25px;
  border-top:1px solid #eee;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}