
<div class="atozq-container" [class.atozq-is-mobile]="mobileQuery.matches" *ngIf="isReady; else loading">
    <mat-toolbar color="primary" class="atozq-toolbar">     
      <a class="atozq-app-name" routerLink="/"><mat-icon style="color: #ff5722;
        font-size: 27px;
        padding-right: 3px;">label_important</mat-icon><span>aznet<span style="font-size: 24px;
        color: #38f84d;">.in</span></span></a>
      <span class="spacer"></span>

      <a class="menuitems" mat-list-item routerLink="/account" *ngIf="!auth.user().IsLoggedIn">      
        <mat-icon aria-hidden="false" aria-label="Login" fontIcon="account_circle"></mat-icon><span class="menutext">Account</span>      
       </a> 
       <a class="menuitems" mat-list-item (click)="OpenYT()">      
        <mat-icon svgIcon="youtube"></mat-icon><span class="menutext">YouTube</span>      
       </a>      
    </mat-toolbar>

  <mat-sidenav-container class="atozq-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">                 
   
    </mat-sidenav>

    <mat-sidenav-content>  
      <div class="container">
        <!-- <div class="row home-toolbar">        
          <div class="col-md-12">
            <span style="cursor: pointer;float: left;line-height: 1;margin: 3px -57px 3px 3px;font-weight: 500;color:#ffffff">&nbsp;Welcome&nbsp;</span><span class="box datetime">{{dt | date:'MM/dd/yyyy hh:mm:ss a'}}</span>
          </div>            
        </div> -->
        <div class="row home-toolbar2"> 
          <div class="col-md-12">
            <span><span class="dot users"></span>Users:<span class="box">{{users|number:'1.0-0'}}</span><span class="dot online"></span>Online:<span class="box">{{online|number:'1.0-0'}}</span> <span class="dot visited"></span>Visited:<span class="box">{{visited|number:'1.0-0'}}</span></span>
          </div>
        </div>
        <section class="row home-toolbar3"> 
          <div class="example-button-row">         
            <mat-button-toggle-group (change)="changeInToggleGroup(cityGroup.value)" [(ngModel)]="toggleSelected" #cityGroup="matButtonToggleGroup">
              <mat-button-toggle routerLink="/stock"  value="stock">
                <mat-icon svgIcon="stockmarket" class="example-tab-icon"></mat-icon>
                <span class="toggle-button-menutext">All Stocks</span>
              </mat-button-toggle>
              <mat-button-toggle routerLink="/learn" value="learn" (change)="changeInToggle(toggleVal.value)" #toggleVal>
                <mat-icon svgIcon="elearning" class="example-tab-icon"></mat-icon>
                <span class="toggle-button-menutext">Learnings</span>
              </mat-button-toggle>      
              <mat-button-toggle routerLink="/valuepickr" value="valuepickr" (change)="changeInToggle(toggleVal.value)" #toggleVal>
                <mat-icon svgIcon="worldwide-value" class="example-tab-icon"></mat-icon>
                <span class="toggle-button-menutext">ValuePickr</span>
              </mat-button-toggle>      
            </mat-button-toggle-group> 
          </div>
        </section>
 
      <router-outlet></router-outlet>
      </div>
     
    </mat-sidenav-content>    
  </mat-sidenav-container>
 
  <div class="row">        
    <div class="col-md-12"> 
  <span class="license">    
    <p style="text-align: center;margin: 10px 0 10px 0;"><a routerLink="/disclaimer">Disclaimer</a>&nbsp;|&nbsp;<a routerLink="/privacypolicy" >Privacy Policy</a>&nbsp;|&nbsp;<a routerLink="/termsofuse">Terms & Conditions</a>
    </p>
  </span>
    </div>
  </div>
  <div class="row">        
    <div class="col-md-12"> 
  <span class="copyright">
    <p>© 2023 AZNET.in. All rights reserved.<a target="_blank" style="float:right" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a> 
    </p>        
  </span>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="wrapper center">
    <div class="inner">      
      <mat-progress-spinner [diameter]="100" class="spinner" [color]="color" [mode]="mode"></mat-progress-spinner>
    </div>
  </div>
</ng-template>

<div class="wrapper center">
  <div class="inner">
    <mat-progress-spinner [diameter]="100" *ngIf="spinnerService.visibility | async" class="spinner" [color]="color" [mode]="mode"></mat-progress-spinner>
  </div>
</div>




