<hr class="hrStyle">
<div class="bg-layer">
    <div class="filter">     
          <div *ngIf="!spinner" style="float:left;display:block;margin:7px 0px 7px 5px;font-weight: 500;color: #0000ff;">    
            <label class="filename"><b>SEGMENT:&nbsp;</b></label>
            <span>Equity</span>
        </div>    
        <div *ngIf="!spinner" style="float:left;display:block;margin:7px 0px 7px 5px;font-weight: 500;color: #0000ff;">    
            <label class="filename"><b>DATE:&nbsp;</b></label><span>{{fileName}}</span>
        </div>
        <div style="clear:both;"></div>
        <section class="row home-toolbar3"> 
          <div class="example-button-row">         
            <mat-button-toggle-group [(ngModel)]="toggleSelected" (change)="changeInToggleGroup(cityGroup.value)" #cityGroup="matButtonToggleGroup">
              <!-- <mat-button-toggle value="all" #toggleVal>
                <mat-icon svgIcon="star-alliance"></mat-icon>
                <span class="toggle-button-menutext">All</span>
              </mat-button-toggle> -->
                 <mat-button-toggle value="penny" #toggleVal>
                <mat-icon svgIcon="best-achievement"></mat-icon>
                <span class="toggle-button-menutext">Penny</span>
              </mat-button-toggle>
              <mat-button-toggle value="small" #toggleVal>
                <mat-icon svgIcon="business-insurance"></mat-icon>
                <span class="toggle-button-menutext">Small</span>
              </mat-button-toggle>      
              <mat-button-toggle value="mid" #toggleVal>
                <mat-icon svgIcon="money-bag"></mat-icon>
                <span class="toggle-button-menutext">Mid</span>
              </mat-button-toggle>      
              <mat-button-toggle value="large" #toggleVal>
                  <mat-icon svgIcon="money-box"></mat-icon>
                  <span class="toggle-button-menutext">Large</span>
                </mat-button-toggle>    
            </mat-button-toggle-group> 
          </div>
        </section>
        </div>

    <div style="clear:both;"></div>
    <section class="table-container mat-elevation-z8" tabindex="0">
        <div *ngIf="spinner" style="Clear:left;display:block;margin:7px 0px 7px 5px;font-weight: 500;color: #0000ff;">    
            <label class="filename"><b>Loading&nbsp;</b></label> <img style="vertical-align:bottom;" src="assets/spinner.gif"/>
          </div>
      <mat-paginator #paginator  [length]="length" [pageIndex]="pageNo" [pageSize]="size" [pageSizeOptions]="[10,20,50,100,500,1000]"
      (page)="pageChanged($event)" showFirstLastButtons="" aria-label="Select page">
    </mat-paginator>

      <table id="main" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="Flg">
          <th mat-header-cell *matHeaderCellDef>
           #
          </th>
          <!-- <td mat-cell *matCellDef="let element"> <mat-icon [ngClass]="flagStyle(element)" [matTooltip]="flagContent(element) | tooltipList" 
            matTooltipClass="tooltip-list" #tooltip="matTooltip" (click)="tooltip.show()"   [matTooltipPosition]="'after'">flag</mat-icon></td> -->
            <td mat-cell *matCellDef="let element"> 
              <mat-icon *ngIf="element.error" class="error icon">error</mat-icon>
              <mat-icon [ngClass]="expandedElement === element ? 'expand' : 'collapse'">{{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
              
              <!-- <mat-icon svgIcon="stockmarket" [ngClass]="flagStyle(element)" 
              ></mat-icon> -->
            
            </td>
        </ng-container>
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Code">
           Code
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
        </ng-container>
        <ng-container matColumnDef="Nme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Nme">
            Stock
          </th>
          <td mat-cell *matCellDef="let element">
            <div style="font-family:'Roboto', sans-serif;font-size:12px;color:#333;display:inline"> 
            {{element.Nme}} &nbsp;<small style="float:right"><mat-icon [ngClass]="element.SignalIndicator>0?'profit':element.SignalIndicator<0?'loss':'gray'" style="vertical-align: middle;" [fontIcon]="element.SignalIndicator>0?'trending_up':element.SignalIndicator<0?'trending_down':'trending_flat'"></mat-icon></small></div> 
            <br>
            
            <small class="fiveDays" style="text-align: left;">  
              <mat-icon [matTooltipPosition]="'after'" #tooltip1="matTooltip" (click)="tooltip1.show()" [matTooltip]="element.Cpg5>0?'+'+(element.Cpg5| number:'1.2-2')+'%':(element.Cpg5 | number:'1.2-2')+'%'" [ngClass]="element.Cpg5>0?'profit':element.Cpg5<0?'loss':'gray'">star</mat-icon>
              <mat-icon [matTooltipPosition]="'after'" #tooltip2="matTooltip" (click)="tooltip2.show()" [matTooltip]="element.Cpg4>0?'+'+(element.Cpg4| number:'1.2-2')+'%':(element.Cpg4 | number:'1.2-2')+'%'" [ngClass]="element.Cpg4>0?'profit':element.Cpg4<0?'loss':'gray'">star</mat-icon>
              <mat-icon [matTooltipPosition]="'after'" #tooltip3="matTooltip" (click)="tooltip3.show()" [matTooltip]="element.Cpg3>0?'+'+(element.Cpg3| number:'1.2-2')+'%':(element.Cpg3 | number:'1.2-2')+'%'" [ngClass]="element.Cpg3>0?'profit':element.Cpg3<0?'loss':'gray'">star</mat-icon>
              <mat-icon [matTooltipPosition]="'after'" #tooltip4="matTooltip" (click)="tooltip4.show()" [matTooltip]="element.Cpg2>0?'+'+(element.Cpg2| number:'1.2-2')+'%':(element.Cpg2 | number:'1.2-2')+'%'" [ngClass]="element.Cpg2>0?'profit':element.Cpg2<0?'loss':'gray'">star</mat-icon>
              <mat-icon [matTooltipPosition]="'after'" #tooltip5="matTooltip" (click)="tooltip5.show()" [matTooltip]="element.Cpg1>0?'+'+(element.Cpg1| number:'1.2-2')+'%':(element.Cpg1 | number:'1.2-2')+'%'" [ngClass]="element.Cpg1>0?'profit':element.Cpg1<0?'loss':'gray'">star</mat-icon>                      
              <mat-icon [matTooltipPosition]="'after'" #tooltip6="matTooltip" (click)="tooltip6.show()" [matTooltip]="element.Cpg>0?'+'+(element.Cpg| number:'1.2-2')+'%':(element.Cpg | number:'1.2-2')+'%'" [ngClass]="element.Cpg>0?'profit':element.Cpg<0?'loss':'gray'">star</mat-icon>                      
            </small>                
              <small class="fiveDays" style="text-align: left;vertical-align: unset;">  
                Rank:<b style="font-weight:400;color: #07b1c7;">{{element.Grp}}-{{element.Rank}}</b>
                </small>
          </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let element">
            <span style="display:inline-block;">
              <mat-icon (click)="AddOrRemoveWatch(element)" [ngClass]="element.IsWatch?'watch':'watch-default'">favorite</mat-icon>
              &nbsp;<mat-icon (click)="share(element)" svgIcon="whatsapp"></mat-icon>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Grp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Grp">
            Group
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Grp}} </td>
        </ng-container>
        <ng-container matColumnDef="LTP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by LTP">
            LTP
          </th>
          <td mat-cell *matCellDef="let element">
            <span [ngClass]="element.Chg>0?'profit':element.Chg<0?'loss':'neutral'" style="font-family:'Roboto', sans-serif;font-size:12px;">{{element.LTP | number:'1.2-2'}}</span>
            <br>
            <small><span *ngIf="element.Chg>0">+</span>{{element.Chg | number:'1.2-2'}}&nbsp;(<span *ngIf="element.Cpg>0">+</span>{{element.Cpg | number:'1.2-2'}}%) </small>
          </td>
        </ng-container>
        <ng-container matColumnDef="Cpg">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Cpg">
                Change
              </th>
              <td mat-cell *matCellDef="let element">
                            
              </td>
         </ng-container>
          <ng-container matColumnDef="Cnt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Cnt">
                Trades
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Cnt | number:'2.'}} </td>
          </ng-container>
          <ng-container matColumnDef="Opn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Opn">
                Open
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Opn | number:'.2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Hig">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Hig">
                High
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Hig | number:'.2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Low">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Low">
                Low
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Low | number:'.2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Avg">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Avg">
                Avg
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Avg | number:'.2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Prv">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Prv">
                Prev
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Prv | number:'.2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Wrn">        
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Wrn">
                Wrn
              </th>
              <td mat-cell *matCellDef="let element" (click)="AddWrn(element)">
                <mat-icon style="color:orange;float:left;vertical-align:middle;">edit</mat-icon>
                <span class="clear"></span>
              </td>       
          </ng-container>
          <ng-container matColumnDef="Fund">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Fund">
                Fund
              </th>
              <td mat-cell *matCellDef="let element"> {{element.Fund}} </td>
          </ng-container>
  
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
               
                   <div class="fundamentals"> 
                    
                    <table class="basic-info">
                        <caption><span class="page-header"><mat-icon svgIcon="stockmarket"></mat-icon>&nbsp;&nbsp;{{element.Nme}}&nbsp;-&nbsp;FUNDAMENTALS</span></caption>                               
                        <tr>
                          <td>Market Cap(Cr.):</td>
                          <td>{{element.MarketCap | number:'1.2-2'}}</td>
                      </tr> 
                        <tr>
                            <td>Script Code:</td>
                            <td>{{element.Code}}</td>
                        </tr> 
                        <tr>
                          <td>Group:</td>
                          <td>{{element.Grp}}</td>
                      </tr>
                      <tr>
                        <td>Trade Date:</td>
                        <td>{{element.TradDt}}</td>
                    </tr>
                                          
                      <tr>
                        <td>Prev:</td>
                        <td>{{element.Prv | number:'1.2-2'}}</td>
                    </tr>               
                      <tr>
                        <td>Open:</td>
                        <td>{{element.Hig | number:'1.2-2'}}</td>
                    </tr>
                     <tr>
                      <td>High:</td>
                      <td>{{element.Hig | number:'1.2-2'}}</td>
                  </tr>
                      <tr>
                          <td>Low:</td>
                          <td>{{element.Low | number:'1.2-2'}}</td>
                      </tr> 
  
                      <tr>
                        <td>LTP:</td>
                        <td>{{element.LTP | number:'1.2-2'}}</td>
                    </tr>  
                    <tr>
                      <td>Settlement:</td>
                      <td>{{element.SttlmPric | number:'1.2-2'}}</td>
                  </tr> 
                    <tr>
                      <td>Change:</td>
                      <td [ngClass]="element.Chg>0?'profit':element.Chg<0?'loss':'neutral'">
                        <span *ngIf="element.Chg>0">+</span> {{element.Chg | number:'1.2-2'}}
                      </td>
                  </tr>  
                  <tr>
                    <td>Change(%):</td>
                    <td [ngClass]="element.Cpg>0?'profit':element.Cpg<0?'loss':'neutral'">
                      <span *ngIf="element.Cpg>0">+</span>{{element.Cpg | number:'1.2-2'}}%
                    </td>
                </tr>  
  
                      <tr>
                        <td>Volume (V):</td>
                        <td>{{element.Vol | number:'2.'}}</td>
                    </tr>                  
                    <tr>
                      <tr>
                        <td>No of Trades:</td>
                        <td>{{element.Cnt | number:'2.'}}</td>
                    </tr>   
                    <tr>
                      <td>Turnover (T):</td>
                      <td>{{element.Tvr | number:'.2'}}</td>
                  </tr>                 
                      <tr>
                          <td>Average (T/V):</td>
                          <td>{{element.Avg | number:'1.2-2'}}</td>
                      </tr>   
                     <tr>
                      <td> 
                        6-days Gain & Loss                     
                      </td>
                      <td>
                        <div class="fiveDays">                       
                          <mat-icon [matTooltipPosition]="'after'" #tooltip7="matTooltip" (click)="tooltip7.show()" [matTooltip]="element.Cpg5>0?'+'+(element.Cpg5| number:'1.2-2')+'%':(element.Cpg5 | number:'1.2-2')+'%'" [ngClass]="element.Cpg5>0?'profit':element.Cpg5<0?'loss':'gray'">star</mat-icon>
                          <mat-icon [matTooltipPosition]="'after'" #tooltip8="matTooltip" (click)="tooltip8.show()" [matTooltip]="element.Cpg4>0?'+'+(element.Cpg4| number:'1.2-2')+'%':(element.Cpg4 | number:'1.2-2')+'%'" [ngClass]="element.Cpg4>0?'profit':element.Cpg4<0?'loss':'gray'">star</mat-icon>
                          <mat-icon [matTooltipPosition]="'after'" #tooltip9="matTooltip" (click)="tooltip9.show()" [matTooltip]="element.Cpg3>0?'+'+(element.Cpg3| number:'1.2-2')+'%':(element.Cpg3 | number:'1.2-2')+'%'" [ngClass]="element.Cpg3>0?'profit':element.Cpg3<0?'loss':'gray'">star</mat-icon>
                          <mat-icon [matTooltipPosition]="'after'" #tooltip10="matTooltip" (click)="tooltip10.show()" [matTooltip]="element.Cpg2>0?'+'+(element.Cpg2| number:'1.2-2')+'%':(element.Cpg2 | number:'1.2-2')+'%'" [ngClass]="element.Cpg2>0?'profit':element.Cpg2<0?'loss':'gray'">star</mat-icon>
                          <mat-icon [matTooltipPosition]="'after'" #tooltip11="matTooltip" (click)="tooltip11.show()" [matTooltip]="element.Cpg1>0?'+'+(element.Cpg1| number:'1.2-2')+'%':(element.Cpg1 | number:'1.2-2')+'%'" [ngClass]="element.Cpg1>0?'profit':element.Cpg1<0?'loss':'gray'">star</mat-icon>                      
                          <mat-icon [matTooltipPosition]="'after'" #tooltip12="matTooltip" (click)="tooltip12.show()" [matTooltip]="element.Cpg>0?'+'+(element.Cpg| number:'1.2-2')+'%':(element.Cpg | number:'1.2-2')+'%'" [ngClass]="element.Cpg>0?'profit':element.Cpg<0?'loss':'gray'">star</mat-icon>                      
                        </div>
                      </td>
                     </tr>
  
                     <tr>
                      <td>
                        <span [ngClass]="element.Growth>0?'profit':element.Growth<0?'loss':'gray'">{{element.Growth>0?'+'+(element.Growth| number:'1.2-2')+'%':(element.Growth | number:'1.2-2')+'%'}}</span>                      
                      </td>
                      <td style="background:#ffffff;padding:5px;">
                        <small class="fiveDays">  
                        <span [ngClass]="element.Cpg5>0?'profit':element.Cpg5<0?'loss':'gray'">{{element.Cpg5>0?'+'+(element.Cpg5| number:'1.2-2')+'%':(element.Cpg5 | number:'1.2-2')+'%'}}</span>
                        <span [ngClass]="element.Cpg4>0?'profit':element.Cpg4<0?'loss':'gray'">{{element.Cpg4>0?'+'+(element.Cpg4| number:'1.2-2')+'%':(element.Cpg4 | number:'1.2-2')+'%'}}</span>
                        <span [ngClass]="element.Cpg3>0?'profit':element.Cpg3<0?'loss':'gray'">{{element.Cpg3>0?'+'+(element.Cpg3| number:'1.2-2')+'%':(element.Cpg3 | number:'1.2-2')+'%'}}</span>
                        <br>
                        <div style="margin-top:10px;display:block"></div>
                        <span [ngClass]="element.Cpg2>0?'profit':element.Cpg2<0?'loss':'gray'">{{element.Cpg2>0?'+'+(element.Cpg2| number:'1.2-2')+'%':(element.Cpg2 | number:'1.2-2')+'%'}}</span>
                        <span [ngClass]="element.Cpg1>0?'profit':element.Cpg1<0?'loss':'gray'">{{element.Cpg1>0?'+'+(element.Cpg1| number:'1.2-2')+'%':(element.Cpg1 | number:'1.2-2')+'%'}}</span>
                        <span style="border: 2px solid;" [ngClass]="element.Cpg>0?'profit':element.Cpg<0?'loss':'gray'">{{element.Cpg>0?'+'+(element.Cpg| number:'1.2-2')+'%':(element.Cpg | number:'1.2-2')+'%'}}</span>
                        </small>
                      </td>
                  </tr> 
  
                  <tr>
                    <td>Price Volume Trend (PVT):</td>
                    <td [ngClass]="element.SignalIndicator>0?'profit-bg':element.SignalIndicator<0?'loss-bg':'gray-bg'">{{element.Signal}} ({{element.SignalDays}} day's)</td>
                </tr> 
                <tr>
                  <td>Rank :</td>
                  <td>{{element.Grp}}-{{element.Rank}}</td>
              </tr> 
                    </table>
                 
                
                </div>
  
              </div>
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
  
        <tr (click)="expandedElement = expandedElement === row ? null : row" mat-row *matRowDef="let row; columns: displayedColumns;"  class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"></tr> 
  
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> 
      </table>
      <!-- <mat-paginator #paginator showFirstLastButtons hidePageSize></mat-paginator> -->
  
      <mat-paginator #paginator  [length]="length" [pageIndex]="pageNo" [pageSize]="size" [pageSizeOptions]="[10,20,50,100,500,1000]"
      (page)="pageChanged($event)" showFirstLastButtons="" aria-label="Select page">
    </mat-paginator>
    </section>
    
  </div>