<button class="close" mat-button (click)="close()">X</button>
<h3 mat-dialog-title>{{chatTitle}}-Chat Room</h3>
<mat-dialog-content> 
    <div [ngClass]="(i%2===0?'container':'container darker')" *ngFor="let chat of chatLog;index as i;">
         <img src="{{chat.avatarUrl}}" alt="Avatar" [ngClass]="(i%2===0?'':'right')">
        <span [ngClass]="(i%2===0?'user-name left':'user-name right')" title="{{chat.userName}}"><span [ngClass]="IsOnline(chat.userName)"></span>{{chat.userName}}</span>
        <p >{{chat.message}}</p>
        <span [ngClass]="(i%2===0?'time-right':'time-left')">{{chat.postedOn | date:'dd-MMM-yyyy h:mm a'}}</span>  
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <img src="{{avatarUrl}}" alt="Avatar">
    <span class="user-name left" title="{{userName}}"><span class="dot online"></span>{{userName}}</span>
    <textarea [(ngModel)]="chatDescription"></textarea> 
    <div class="actions">
      <section class="pull-left" align="start">
        <button mat-raised-button color="warn" (click)="closeDialog()"> Cancel </button>
        <button mat-raised-button color="primary" (click)="Send()"> Submit </button>
      </section>      
      <!-- <button mat-button mat-raised-button color="primary" (click)="Send()">Send</button>
      <button mat-button mat-raised-button color="accent" (click)="Clear()">Clear</button> -->
      <!-- <button mat-button mat-raised-button color="warn" (click)="closeDialog()">Close</button>  -->
    </div>
  </div>
</mat-dialog-actions>