<button class="close" mat-button (click)="close()">X</button>
<h3 mat-dialog-title>{{chatTitle}} - <span class="dot online"></span>&nbsp;Live Chat Room</h3>
<mat-dialog-content> 
    <div [ngClass]="(i%2===0?'container':'container darker')" *ngFor="let message of messages;index as i;">
         <img src="{{message.avatarUrl}}" alt="Avatar" [ngClass]="(i%2===0?'':'right')">
        <span [ngClass]="(i%2===0?'user-name left':'user-name right')" title="{{message.userName}}"><span [ngClass]="IsOnline(message.userName)"></span>{{message.userName}}</span>
        <p >{{message.message}}</p>
         
        <span [ngClass]="(i%2===0?'time-right':'time-left')"> {{message.postedOn | date:'dd-MMM-yy h:mm a'}} <mat-icon [style.color]="message.status==4?'blue':''">{{message.status==1?'done':message.status==2 || message.status==3 || message.status==4?'done_all':''}}</mat-icon></span>  

      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <img src="{{avatar}}" alt="Avatar">
    <span class="user-name left" title="{{userName}}"><span class="dot online"></span>{{userName}}</span>    
      <section class="pull-left" align="start">
        <form class="msger-inputarea">         
          <input type="text" class="msger-input" name="chatDescription" [(ngModel)]="chatDescription" placeholder="Enter your message...">
          <button class="msger-send-btn" (click)="Send()"><mat-icon>send</mat-icon></button>
        </form>      
      </section> 
    </div>

</mat-dialog-actions>