<!-- dialog-box.component.html -->
<h1 mat-dialog-title>
  <mat-icon *ngIf="rowAction=='View'">remove_red_eye</mat-icon>
  <mat-icon *ngIf="rowAction=='Comment'">comment</mat-icon>
  <mat-icon *ngIf="rowAction=='Update'">edit</mat-icon>
  <mat-icon *ngIf="rowAction=='Add Media' || rowAction=='Update Media'">perm_media</mat-icon>
  {{rowAction=='View'?'Details':rowAction}}
</h1>
<mat-dialog-content>
<form class="example-form" novalidate *ngIf="rowAction == 'Add' || rowAction == 'Update'">
  <mat-form-field class="example-full-width">
    <input matInput type="text" id="ItemId" name="ItemId" [(ngModel)]="local_data.item.itemId" required placeholder="ItemId" disabled="true">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="Category" name="Category" [(ngModel)]="local_data.item.category" required placeholder="Category">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="TitleText" name="TitleText" [(ngModel)]="local_data.item.titleText" required placeholder="TitleText">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="SubTitle" name="SubTitle" [(ngModel)]="local_data.item.subTitle" required placeholder="SubTitle">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="AvatarUrl" name="AvatarUrl" [(ngModel)]="local_data.item.avatarUrl" required placeholder="AvatarUrl">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="ItemImageUrl" name="ItemImageUrl" [(ngModel)]="local_data.item.itemImageUrl" required placeholder="ItemImageUrl">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="ItemHeadLine" name="ItemHeadLine" [(ngModel)]="local_data.item.itemHeadLine" required placeholder="ItemHeadLine">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="referralCode" name="referralCode" [(ngModel)]="local_data.item.referralCode" required placeholder="referralCode">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="referralLink" name="referralLink" [(ngModel)]="local_data.item.referralLink" required placeholder="referralLink">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput type="text" id="ItemDescription" name="ItemDescription" [(ngModel)]="local_data.item.itemDescription" required placeholder="ItemDescription"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="UseButton" name="UseButton" [(ngModel)]="local_data.item.useButton" required placeholder="UseButton">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="ShareButton" name="ShareButton" [(ngModel)]="local_data.item.shareButton" required placeholder="ShareButton">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" id="CommentButton" name="CommentButton" [(ngModel)]="local_data.item.commentButton" required placeholder="CommentButton" disabled="true">
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <input matInput type="text" id="RowAction" name="RowAction" [(ngModel)]="local_data.item.rowAction" required placeholder="RowAction" disabled="true">
  </mat-form-field>
</form>

<mat-card class="item-card" *ngIf="rowAction=='View'">
  <mat-card-header>
    <div mat-card-avatar class="item-header-image" style="background-image: url('{{avatarUrl}}');"></div>
    <mat-card-title>{{titleText}}</mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <div class = "geeks">
    <img mat-card-image src='{{itemImageUrl}}' alt='{{titleText}}'>
</div>   
  <mat-card-content>      
    <h2>{{itemHeadLine}}</h2>
    <p [innerHtml]="itemDescription | linkify" ></p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="rowAction=='Delete'">
<form class="example-form">
  Sure to delete <b>{{titleText}}</b>?
</form>
</mat-card> 

<mat-card *ngIf="rowAction=='Comment'">

 <mat-card-header>
  <div mat-card-avatar class="item-header-image" style="background-image: url('{{local_data.item.avatarUrl}}');"></div>
  <mat-card-title class="overflow-ellipsis">{{local_data.item.titleText}}</mat-card-title>
  <mat-card-subtitle class="overflow-ellipsis">{{local_data.item.subTitle}}</mat-card-subtitle>
</mat-card-header>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="text" id="referralCode" name="referralCode" [(ngModel)]="local_data.item.referralCode" required placeholder="Please enter your Referral Code">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput type="text" id="referralLink" name="referralLink" [(ngModel)]="local_data.item.referralLink" required placeholder="Please enter your Referral Link">
    </mat-form-field>
  </form>
  </mat-card> 


  <mat-card *ngIf="rowAction=='Add Media' || rowAction=='Update Media'">   
     <form class="example-form">
       <mat-form-field class="example-full-width">
         <input matInput type="text" id="imageSource" name="imageSource" [(ngModel)]="local_data.item.referralCode" required placeholder="Please enter url">
       </mat-form-field>
     
       <mat-form-field class="example-full-width">
         <input matInput type="text" id="imageName" name="imageName" [(ngModel)]="local_data.item.referralLink" required placeholder="Please enter filename">
       </mat-form-field>
     </form>
     </mat-card>


</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="rowAction != 'View'" mat-button (click)="doAction()" mat-raised-button  class="btnAction">{{rowAction}}</button>
  <button mat-button (click)="closeDialog()" mat-raised-button color="warn">{{rowAction != 'View'?'Cancel':'Close'}}</button>
</mat-dialog-actions>
