.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  ::ng-deep .mat-form-field .mat-input-element {
      color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-label {
      color: slategray!important;
  }
  ::ng-deep .mat-form-field .mat-form-field-underline {
      background-color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-ripple {
      background-color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-required-marker {
      color: slategray;
  }
  
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #ff884d!important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: #ff884d;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
      color: #ff884d;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
      color: #ff884d;
  }
  
  
  
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
      color:  #f44336;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color:  #f44336!important;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
      color:  #f44336;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
      background-color:  #f44336;
  }
  ::ng-deep textarea{
    height: 50px;
  }

  ::ng-deep .mat-dialog-title,.btnAction
  {
        background: #1c971d;        
        color: #fff;  
  }
  ::ng-deep .mat-dialog-title
  {
    padding: 5px; 
  }

  .item-card {
    max-width: 400px;
    float: left;
    margin: 5px;
    border: 1px solid #ccc;  
    height: 500px;   
  }
  .mat-card-header .mat-card-title {    
    color: #111111;
}
  .item-header-image {    
    background-size: cover;
  }
  .mat-card-image
  {
    margin: 0;
  }
  .geeks {
    width: 100%;
    height: 200px;   
   }

img {
    width:100%;
    height:100%;
    object-fit:scale-down;
}

p {
  display: -webkit-box;
  width: relative;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 4px;  
}

h1 > mat-icon
{
  line-height: 1.3;
}


h2 {
    width: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;;
    margin: 0;
    color:#111111;
  }

  .cmt-footer
  {
    font-size: 10px;
    background:#f0ffff;
    color:#1c971d;  
  }

  .cmt-footer a
  {
    color: blue;
  }

  .bgreen{background:#1c971d !important;color:#ffffff !important;}

  .bred{color: #ffffff !important;background: #ff9800;}

  .view-item-card[_ngcontent-xcn-c318] {
    max-width: 400px;
    float: left;
    margin: 5px;
    height: 500px;
}