.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
  }

  table {
    width: 100%;
  }
  
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-width: 0px;  
  }

  .table-container {
    height: 500px;
    overflow: auto;
  }

  button.btn {
    background: #1c971d;
    color: #fff;
    font-size: 12px;
    margin: 2px;
    text-transform: uppercase;
    padding: .4em 1em;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none; 
  }

  
  button.btn:hover,button.selected
  {
    background:#15e52a;
    color: #fff;
    font-weight: bold;
  }

  .file-toolbar
  {
    padding: 8px;
    font-size: 16px;
    background:#009688;
    color: #fff;
    text-align: center;
  }
  