
<div class="container">
    <div class="headerDiv">
        <h2>Manage Refferals</h2>  
    </div>
    <div class="floatedDiv">
        <app-refman-editor (addRef)="SaveRef($event)"></app-refman-editor>
    </div>
    <div class="floatedDiv">
        <table>
            <tr>
                <th style="text-align: center;">Order</th>
                <th style="text-align: center;">Title</th>     
                <th style="text-align: center;">Status</th>              
                <th style="text-align: center;"></th>
            </tr>
        <tr *ngFor="let r of refmanList">
        <td style="text-align: center;">{{r.orderNo}}</td>
        <td>{{r.title}}</td>
        <td style="text-align: center;">{{r.isActive?'Active':'Not Active'}}</td>       
        <td><button class="edit" (click)="EditRef(r)">Edit</button><button class="delete" (click)="RemoveRef(r)">Delete</button></td>
        </tr>
        </table>
    </div>
    <div class="clear"></div>
  </div>





