/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0;}

.mat-tab-label, .mat-tab-link {
    color:#1c971d!important;
  }

  .bblack{
    background: #601da1!important;
    color: #fff!important;
  }