/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0;}

.mat-tab-label, .mat-tab-link {
    color:#fff!important;
  }

  .bblack{
    background: #601da1!important;
    color: #fff!important;
  }

  /* .cdk-overlay-pane.my-dialog {
    position: relative!important;
  } */
  .close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
  }

  .tooltip-list {
    white-space: pre;
  }

  .tooltip {
    position: fixed;
    background-color: black;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;
    transform:translateX(-50%);
  }

.mat-app-background {
    background-color: #ffffff;
    color: rgba(0,0,0,.87);
}

.chat-dialog .mat-dialog-container{ 
  border: 5px double rgba(0, 0, 0, .4);
  background-color: aquamarine;
  color: rgba(0,0,0,0.8);
  font-style: italic;
  overflow: hidden;
  position: absolute;
  /* Add more styles */
}

.fundamental-dialog .mat-dialog-container{ 
  border: 5px double rgba(0, 0, 0, .4);  
  overflow: hidden;
  position: absolute;
  /* Add more styles */
}
