/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0;}

.mat-tab-label, .mat-tab-link {
    color:#fff!important;
  }

  .bblack{
    background: #601da1!important;
    color: #fff!important;
  }

  /* .cdk-overlay-pane.my-dialog {
    position: relative!important;
  } */
  .close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
  }

  .tooltip-list {
    white-space: pre;
  }

  .tooltip {
    position: fixed;
    background-color: black;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;
    transform:translateX(-50%);
  }

.mat-app-background {
    background-color: #ffffff;
    color: rgba(0,0,0,.87);
}

.chat-dialog{
  background: #ffffff;
}
.chat-dialog .mat-dialog-content {
  max-height: 80%;
}
.chat-dialog .mat-dialog-container{ 
  border: 5px double #ffffffd4;
  background: #297983;
  color: #000c;
  font-family: Arial,Helvetica,sans-serif;
  overflow: hidden;
  position: absolute;
  border-radius: 19px;
  box-shadow:none;
  /* Add more styles */
}

.mat-select .mat-option {
  color: rgb(41 121 131);
  font-size: 13px !important;
  font-weight: 500;
  text-align: center;
}
.mat-select .mat-select-value {
color: #ffffff;
text-align: center;
}

.mat-select-arrow {
  color: #ffffff;
}
.mat-option.mat-active {
  background:#f0f8ff !important;
  color: #245bff;
}

.fundamental-dialog .mat-dialog-container{ 
  border: 5px double rgba(0, 0, 0, .4);  
  overflow: hidden;
  position: absolute;
  /* Add more styles */
}

.page-container{
  clear: left;
  font-weight: 400;
  display: block;
  margin: 5px;
  border: 5px solid #e8e6e6;
  text-align: justify;
  padding: 5px;
  font-size: 12px;
}
.page-container a {color: #218b99;}
.page-container .page-header{ 
display: block;
margin-bottom:5px;
font-weight:500;
text-align: center;
color: #2aea0e;
font-size: 14px;
}

.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
  font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 -10px;
}

.page-container h2,.page-container h3 strong
{
  color: #297983;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
