
table
{      
   width: 365px;
   height: 200px;
    float: left;   
    margin: 5px;
    border-spacing: 0;
    border-left: 1px solid#00bcd4;
    font-size: 12px;
}


td,th{
    border-right: 1px solid#00bcd4;  
    border-bottom: 1px solid#00bcd4;
    border-spacing: 0;
}



table>caption{
    background:#00bcd4;
    color: #fff;
    font-size: 16px;
    padding: 2px;
}
table td,th {
    text-align: left;   
}


table td:first-child {
    text-align: right;   
    background-color: aliceblue;
    color: black;
}

th, td {
    padding: 2px;
    text-align: left;   
  }
.mat-dialog-container{
    background: #fdffff;
}
  .mat-dialog-title{
    margin: -15px 5px 0px !important;
    display: block;
    color: #297983;
    font-weight: 500 !important;
  }
  table td{
    color: #001dff;
    text-align: center;
    display: table-cell;
  }
  table td:first-child{
    text-align: center;
    color: #575757;
    }

  table.basic-info td{text-align: center;}
  


  table.price-movement td{text-align: center;}
  table.price-movement td:first-child{text-align: center;}

  table.financial td{text-align: center;}
  table.financial td:first-child{text-align: center;}

  table.margindelivery td{text-align: center;}
  table.margindelivery td:first-child{text-align: center;}
  
  table.news{width:97%;clear:both;height: auto;}
  table.news th{text-align: center;color: #601da1;background-color: lightgreen;}
  table.news td{text-align: justify;}
  table.news td:first-child{text-align: center;}

  .loss{color:red; font-weight: 500;}
  .profit{color: #25e125;font-weight: 500;}
  .zeroNP{color: #515050;font-weight: 500;}
  .close{color: white;
    background-color: red;
    margin: 5px;
    width: 26px;
    font-size: 16px;
    font-weight: 500;}
    .mat-dialog-content{
      max-height: 100%;
    }

    .fundamentals 
    .page-header{ 
        display: block;
        margin:16px;
        font-weight:500;
        text-align: center;
        color: #00bcd4;
        }