<div class="filter">
<span style="float:left;padding:1px;"><label class="filename"><b>BSE:&nbsp;</b>{{fileName}}</label></span>
  <mat-select [(value)]="selected" (selectionChange)="handleClick()">    
    <mat-option *ngFor="let b of dsArray" value="{{b.key}}">{{b.text}}</mat-option>   
  </mat-select>  
</div>
<section class="table-container mat-elevation-z8" tabindex="0">
	<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="flag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Flag Indicator">
       #
      </th>
      <td mat-cell *matCellDef="let element"> <mat-icon>flag</mat-icon> </td>
    </ng-container>
    <ng-container matColumnDef="sC_CODE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sC_CODE">
       Code
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sC_CODE}} </td>
    </ng-container>
    <ng-container matColumnDef="sC_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sC_NAME">
        Stock
      </th>
      <td mat-cell *matCellDef="let element"><a  (click)="ViewDetails(element)"> {{element.sC_NAME}} </a></td>
    </ng-container>
    <ng-container matColumnDef="sC_GROUP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sC_GROUP">
        Group
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sC_GROUP}} </td>
    </ng-container>
    <ng-container matColumnDef="sC_TYPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sC_TYPE">
       Type
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sC_TYPE}} </td>
    </ng-container>
    <ng-container matColumnDef="open">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by open">
           Open
          </th>
          <td mat-cell *matCellDef="let element"> {{element.open}} </td>
     </ng-container>
      <ng-container matColumnDef="high">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by high">
           High
          </th>
          <td mat-cell *matCellDef="let element"> {{element.high}} </td>
      </ng-container>
      <ng-container matColumnDef="low">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by low">
           Low
          </th>
          <td mat-cell *matCellDef="let element"> {{element.low}} </td>
      </ng-container>
      <ng-container matColumnDef="close">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by close">
           Avg
          </th>
          <td mat-cell *matCellDef="let element"> {{element.close}} </td>
      </ng-container>
      <ng-container matColumnDef="last">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last">
           LTP
          </th>
          <td mat-cell *matCellDef="let element"> {{element.last}} </td>
      </ng-container>
      <ng-container matColumnDef="prevclose">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by prevclose">
          Prev
          </th>
          <td mat-cell *matCellDef="let element"> {{element.prevclose}} </td>
      </ng-container>
      <ng-container matColumnDef="nO_TRADES">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nO_TRADES">
          Trades(Count)
          </th>
          <td mat-cell *matCellDef="let element"> {{element.nO_TRADES}} </td>
      </ng-container>
      <ng-container matColumnDef="nO_OF_SHRS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nO_OF_SHRS">
          Volume(Shares)
          </th>
          <td mat-cell *matCellDef="let element"> {{element.nO_OF_SHRS | number:'1.0-0'}} </td>
      </ng-container>
      <ng-container matColumnDef="neT_TURNOV">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by neT_TURNOV">
          Turnover(Rs.)
          </th>
          <td mat-cell *matCellDef="let element"> {{element.neT_TURNOV}} </td>
      </ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20,30,40,50,100]" [pageSize]="size" showFirstLastButtons></mat-paginator>
</section>


  