<div class="page-container"> 
<h3><span class="page-header">MY ACCOUNT</span></h3>
<section class="container">    
    <form align="center"> 
     <div class="msger-inputarea">
      <img alt="User" src="/assets/user.jpg" />
      <input type="text" [ngClass]="'msger-input'+' '+(editMode?'':'input-style')" name="txtUserName" placeholder="Enter username" [(ngModel)]="userName" [readonly]="!editMode" [disabled]="!editMode">   
      <button class="msger-send-btn" *ngIf="!editMode" (click)="onEdit()">Update</button>
      <button class="msger-send-btn warn" *ngIf="editMode" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button class="msger-send-btn save" *ngIf="editMode" (click)="onSave()">Save</button>
    </div>
    <div class="msger-inputarea">
      <img alt="Email" src="/assets/email.png" />
      <input type="text" [ngClass]="('msger-input'+' '+(editEmailMode?'':'input-style'))" name="txtEmail" placeholder="Enter email address" [(ngModel)]="Email" [readonly]="!editEmailMode" [disabled]="!editEmailMode">   
      <button class="msger-send-btn" *ngIf="!editEmailMode" (click)="onEmailEdit()">Update</button>
      <button class="msger-send-btn warn" *ngIf="editEmailMode" (click)="onEmailCancel()">Cancel</button>
      &nbsp;
      <button class="msger-send-btn save" *ngIf="editEmailMode" (click)="onSave()">Save</button>
    </div> 
    <!-- <div class="msger-inputarea">
      <img alt="Device" src="/assets/device.jpg" />
      <input type="text"  name="txtDevice" [(ngModel)]="device" [readonly]="true" [disabled]="true">
    </div>   
    <div class="msger-inputarea">
      <img alt="Browser" src="/assets/browser.png" />
      <input type="text"  name="txtBrowser" [(ngModel)]="browser" [readonly]="true" [disabled]="true">
    </div>  -->
    </form> 
  </section> 

  <h3><span class="page-header">WATCH LIST</span></h3>
  <section class="container">
<table id="watchlist">
  <tr>
    <th style="width:35px;">#</th>
    <!-- <th>Code</th> -->
    <th style="width:95px;">Stock</th>
    <th style="width:50px;">Listed</th>
    <!-- <th>Created On</th> -->
    <th style="width:50px;">LTP</th>
    <!-- <th>Modified On</th> -->
    <th style="width:50px;">Change</th>
    <th style="width:50px;">Change(%)</th>
    <th style="width:20px;"></th>
  </tr>
  <tr *ngFor="let w of watchList;let i=index;">
   <td>{{i+1}}</td>
   <!-- <td>{{w.Code}}</td> -->
   <td>{{w.Nme}}</td>
   <td>{{w.CreatedLTP | number:'1.2-2'}}</td>
   <!-- <td>{{w.CreatedLTPAsOn | utcToLocalTime:'short'}}</td> -->
   <td>{{w.ModifiedLTP | number:'1.2-2'}}</td>
   <!-- <td>{{w.ModifiedLTPAsOn | utcToLocalTime:'short'}}</td> -->
   <td [ngClass]="w.Change>0?'profit':w.Change<0?'loss':'neutral'">{{w.Change | number:'1.2-2'}}</td>
   <td [ngClass]="w.PercentChange>0?'profit':w.PercentChange<0?'loss':'neutral'">{{w.PercentChange | number:'1.2-2'}}%</td>
   <td style="text-align:center"><mat-icon svgIcon="delete" (click)="DeleteWatchListItem(w)"></mat-icon></td>
  </tr>
</table>
</section>
</div>