.msger-inputarea {
    display: flex;
    padding: 5px;
    border-top: var(--border);
    background: #eee;
  } 

  .container {
  
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;

  }
  .container img {
    float: left;
    max-width: 55px;
    width: 35px;
    margin-right: 5px;  
    border-radius: 50%;
  }
  .container form{   
  width: 200px; 
  }
  .container form label{
    font-weight: 500;
    color: #297983;
  }
  .msger-input {
    flex: 1;
    background: #fff;
  }
  .msger-inputarea {
    display: flex;
    padding: 5px;
    border-top: var(--border);
    background: #eee;
  } 
  .msger-inputarea * {
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-inputarea .mat-icon{
    vertical-align: middle;
    margin-top: 10px;
  }
  .msger-send-btn { 
    background: #24b8cc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
 .warn{
    background: #dd3030;
  }
  .save
  {
    background: #00c441;
  }
  .clear-left{
    clear: left;
  }

  .input-style
  {
    background: #f6f8ab;   
  }


  /*-----------------*/

  .bg-layer {
    background: #ffffff;
  }
  .upload{
      font-weight:bold;
      color:#28a745;
      margin-left: 15px;
      line-height: 36px;
    }
  
    table {
      width: 100%;
      border-left: 1px solid #ddd;
      font-size: 12px;
    }
    .filter
    {
      font-size: 12px;
     
      text-align: left;
      background: #ffffff;
      padding: 2px;
    }
    .filter b{ color: #00bcd4}
    .filename{
      color: #00bcd4;
      font-weight: bold;
    }
  
    .mat-select{ 
      width: 200px;
      margin-left: 5px;
      border: 1px solid;
      border-radius: 4px;
      padding: 2px;
      font-weight: 500;
      border-color: #dddddd;
    }
  
    th{background: #00bcd4;
      color: #fff;}
   
    tr>td>a {color:#0040ff;cursor: pointer;text-decoration: underline;font-weight:500;}
    tr:hover,tr>td>a:hover {    background-color: aliceblue;
      color: #245afc;}
    
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom: 1px solid #ddd;
    }
    th.mat-header-cell{
      text-align: center;
    }
    td,th{
      border-right: 1px solid #ddd; 
      border-bottom: 1px solid #ddd;
      border-spacing: 0;
  }
    .table-container {
      height: 700px;
      overflow: auto;
    }
  
    button.btn {
      background: #1c971d;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 0 4px 0 4px;    
    }
  
  
  
    
    button.btn:hover,button.selected
    {
      background:#15e52a;
      color: #fff;
      font-weight: bold;
    }
  
    .file-toolbar
    {
      font-size: 16px;
      color:black; 
    }
  
    .mat-toolbar
  
    .container {
      overflow: hidden;
      width: 100%;
      min-height: 36px; /* Remember absolute positioning is outside the page flow! */
      position: relative;
    }
    .left-element {
      position: absolute;
      left: 10px;
      top: 2px;
      width: 33%;
    }
    .middle-element {
      top:10px;
      margin: 5px auto;
      text-align: center;
      width: 33%;
    }
    .right-element {
      position: absolute;
      right: 10px;
      text-align: right;
      top: 2px;
      width: 33%;
    }
  
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
      padding-right: 0px;  
  }
  
    .mat-table {
      overflow-x: scroll;
      caret-color: transparent;
    }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 12px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  
  .mat-button-toggle-appearance-standard {
    color: #fff;
    background:#1c971d;
    padding: 0 10px;
    line-height: 35px;
  }
  .mat-button-toggle-checked{
    color: #fff;
    background:#15e52a;
  }
  
  mat-button-toggle-group {
    flex-wrap: wrap;
  }
  
  mat-form-field + mat-form-field {
    margin-left: 8px;  
  }
  .mat-form-field-infix { 
    width: 267px;
  }
  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    color: white;
  }
  
  ::ng-deep .mat-sort-header-container { 
    justify-content: center;
  }
  
  .watch
  {
    color:#f75685!important;
  }
  
  .mat-column-Nme{
   width:25px;
   text-align: center;
  }
  
  .mat-column-Flg
  {
    width:10px;
    text-align: center;
  }
  .mat-column-Grp
  {
    width:10px;
    text-align: center;
  }
  .mat-column-LTP
  {
    width:50px;
    text-align: center;
  }
  .mat-column-Vol
  {
    width:15px;
    text-align: center;
  }
  .mat-column-Actions
  {
    width: 25px;
    margin:2px;
  }
  .mat-column-Actions .mat-icon
  {
    color: #dddddd;
    display: inline-flex;
      vertical-align: middle;
      cursor:pointer;
  }
  .mat-column-Code,.mat-column-Wrn{
    text-align: center;
    width: 25px;
  }
  .mat-column-Cnt,.mat-column-Opn,.mat-column-Hig,.mat-column-Low,.mat-column-Avg,.mat-column-Prv
  {
    text-align: center;
  }
  .mat-column-Chat .mat-icon:hover
  {
    color: #25ec25; 
  }
  .showChatCount
  {
    color: black;
    font-weight: 500;
    /* width: 48px; */
    white-space: nowrap;
  }
  .hideChatCount
  {
    display: none;
  }
  
  .chat-icon
  {
    vertical-align: middle;
    float:left;
    color:#25ec25;
  }
  
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
  {
    padding-left: 5px !important;
    text-align: center;
    padding-right: 5px !important;
  }
  
  table #main .mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  table #main .mat-cell {
    text-align: center;
    justify-content:center;
  }
  
  .risk1,.risk2,.risk3,.risk4,.risk{
    background-image:linear-gradient(to right, #fdfdfd 0%, #ffffff  51%, #fdfdfd  100%);   
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 2px;
    padding: 5px; 
    border: 1px solid #dddddd; 
  }
  .risk4{
    color: red; 
  }
  .risk3{
  color: #ffd382;
  }
  .risk2{
    color:orange;
  }
  .risk1
  {
    color:lightgreen;
  }
  .risk
  {
    color: lightgray;
  }
  
  
  
  ::ng-deep .mat-tooltip {
    background: #297983;
    border:  1px solid lightgray;
    font-size:  12px;
      position: fixed;
      border-radius: 4px;
      padding: 3px 6px;
      margin-top: 5px;
      transform:translateX(-50%);
  }


table#watchlist{
  width:100%;font-weight: 500;
}
#watchlist tr{
  text-align: center;
  color: #297983;
  font-weight: 500;
}
  #watchlist .mat-icon{
    color: #db2c2c;cursor: pointer;vertical-align: middle;
  }
  #watchlist .mat-icon:hover
  {
    color: #f14343;
  }

  .profit
  {
    color: #070!important;
  }

  .loss
  {
    color: #c00!important;   
  }
.neutral
{  
  font-weight: 500!important;
}
  
  